#footer{position: relative;border-top: 1px solid #fff;}
.footer-lower {background: #182C4D;color: #fff;padding:20px 0;z-index: 1;position: relative;}
.footer-upper {background: #1D3459;padding-top: 85px;}
.footer-upper .container {width:100%; max-width:1519px !important; margin:0 auto; position: relative; z-index: 1;}
.footer-lower .container {width:100%; max-width:1519px !important; margin:0 auto;}
.copy-text {font-size: 12px;font-weight: 400;text-align: center;}
.footer-upper {background: #1D3459;}
.copy-text {font-size: 12px;font-weight: 400;text-align: center;}
.fu-link-list {display: flex;flex-wrap: wrap;justify-content: center;}
.fu-link-item img {left: 0;position: absolute;width: 18px;height: 18px; line-height: 1.4;}
.fu-link-item {position: relative;color: #fff;padding: 0 25px;font-size: 13px;}
.fu-link-item+.fu-link-item {margin-left: 25px;}
.fu-link-item:after {content: '';position: absolute;right: 6px;width: 10px;height: 10px;background-image: url(/src/assets/images/arrow-icon.svg);background-repeat: no-repeat;background-position: center;background-size: contain;top: 6px;}
.fu-link-box {padding: 45px 0;}
.footer-upper-content {display: flex;flex-wrap: wrap;justify-content: space-between;padding: 0 40px;padding-bottom: 50px;}
.fcb-list {display: flex;flex-wrap: wrap;}
.fuc-logo {width: 150px;}
.fuc-logo img {width: 100%;height: 100%;-o-object-fit: contain;object-fit: contain;}
.fab-item {color: #fff;font-size: 13px;padding-left: 25px;position: relative;line-height: 1.5;}
.fab-item img {position: absolute;left: 0;top: 3px;}
.fab-item+.fab-item {margin-top: 15px;}
.fuc-address-box {margin-top: 50px;}
.fi-link {font-size: 13px;color: #fff;font-weight: 400;}
.fi-link+.fi-link {margin-top: 17px;}
.fub-item {width: 22%;}
.fuc-left {width: 400px;}
.fuc-right {width: calc(100% - 400px);}
.fubi-heading{font-size: 15px;font-family: inter;font-weight: 700;color: #fff;}
.fubi-heading {margin-bottom: 25px;}
.fubi-box-list {display: flex;flex-wrap: wrap;justify-content: space-between;}
.fub-item:nth-child(2) {width: 34%;padding: 0 30px;}
.fub-item+.fub-item {border-left: 3px solid #27426F;padding-left:30px;}
.footer-bg {width: 100%;height: 100%;background-repeat: no-repeat;background-size: contain;top: 0;position: absolute;background-position: center;}
.fubi-box-item+.fubi-box-item {padding-left: 20px;}


@media (max-width:1370.98px){
    .fubi-box-item{width:100%;}
    .fub-item:nth-child(2){padding:0; padding-left:30px; width:25%;}
    .fubi-box-item+.fubi-box-item{padding-left:0; margin-top:20px;}
    .fubi-box-item+.fubi-box-item {margin-top: 20px;}
    .fub-item{width:25%;}
    .fub-item+.fub-item {padding:0px 15px; }
    .footer-upper-content{padding:0 30px;}
}

@media (max-width:1199.98px){
    .fubi-box-item+.fubi-box-item {margin-top: 20px;}
    .fuc-left {width: 300px;}
    .fuc-right {width: calc(100% - 300px);}
}
     
@media(max-width:991.98px){
    .fuc-left {width: 100%;}
    .fuc-right { width: 100%;margin-top: 40px;}
    .fub-item {width: 50%;}
    .fub-item {width: 50%;}
    .fubi-box-list{width:100%;}
    .fub-item:nth-child(2){width:50%;}
    .fub-item+.fub-item:nth-child(3){border-left:0; padding-left:0; padding-top:20px;}
    .fubi-box-item+.fubi-box-item{margin-top:0;}
    .fubi-box-item{width:50%;}
    .fubi-box-item+.fubi-box-item{padding-left:20px; width:fit-content;}
}

@media (max-width: 767.98px) {
    .fubi-box-item{width:100%;}
    .fubi-box-item+.fubi-box-item{width:100%; padding-left:0; padding-top:20px;}
    .fub-item:last-child{margin-top:20px;}
    .fub-item+.fub-item{border:none;}
    .footer-upper-content{padding:0 20px;}
    .fu-link-box{padding:40px 20px;}
    .fu-link-list{row-gap:15px;}
}


@media(max-width:575.98px){
    .fub-item{width:100%;}
    .fub-item:nth-child(2){width:100%; margin-top:20px;}
    .fub-item+.fub-item{padding-left:0;}
}




  