:root{--white: #FFF;--black: #000;--teal: #C2F6EA;--antique-white: #FAEBD7;--grey: #B4B4B4;--dark-grey: #343A40;}
 
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

/* =================reset css starts here=================  */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset,address{margin:0;padding:0;outline:none;border:0}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}
/* =================reset css ends here================= */
/* =================core css starts here================= */
body{font-family: var(--font-alkatra);font-size:16px;font-weight:400;line-height:1.5;color: inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background: var(--antique-white);}
.container{width:100%;max-width:1320px;}
.container-fluid{max-width: 1440px;}
.content-container{padding: 120px 0;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--teal);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--black);opacity:0.5;}
::-moz-placeholder{color:var(--black);opacity:0.5;}
:-moz-placeholder{color:var(--black);opacity:0.5;}
:-ms-input-placeholder{color:var(--black);opacity:0.5;}
.os-animation{opacity:0;}
.os-animation.animated{opacity:1;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:20px;font-family: var(--font-montserrat);line-height:1.6;font-weight:600;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:26px;}
h6{font-size:22px;}
p{margin:0px;padding:0px;margin-bottom:30px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}

.btn {min-width: 196px;border-radius: 80px;padding: 16px 15px;font-family: var(--font-montserrat);font-size: 16px;font-weight: 600;line-height: 1;box-shadow: none;border-radius: 8px;}
.btn-default,.btn-default:focus { color: var(--dark-grey);background-color: var(--teal);border: solid 1px var(--violet); }
.btn-default:hover,.btn-default:active { color: var(--dark-grey)!important;background-color: var(--antique-white)!important;border-color: var(--antique-white)!important;}
.btn-light, .btn-light:focus{color: var(--dark-grey);background-color: var(--antique-white);border: solid 1px var(--antique-white); }
.btn-light:hover,.btn-light:active { color: var(--teal)!important;background-color: var(--dark-grey)!important;border-color: var(--dark-grey)!important;}
.btn-dark, .btn-dark:focus{color: var(--white);background-color: var(--dark-grey);border: solid 1px var(--dark-grey); }
.btn-dark:hover,.btn-dark:active { color: var(--white)!important;background-color: var(--black)!important;border-color: var(--black)!important;}

.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}
.bottom-btn-box{margin-top: 40px;}
main{min-height: 100vh;}

.bg-dark-grey{background: var(--dark-grey);color: var(--white);}
.bg-glass{background-color: transparent;border: 2px solid rgba(255, 255, 255, 0.5);backdrop-filter: blur(50px);box-shadow: 0 4px 30px rgba(255,255,255, 0.5);}

/* =================core css ends here================= */

.heading{margin-bottom: 60px;}
.heading h3{font-size: 48px;font-weight: 700;line-height: 1.2;margin-bottom: 0;}

.error-box{padding: 30px;border-radius: 16px;}
.error-box h2{color: var(--teal);font-size: 64px;font-weight: 700;line-height: 1;}
.error-box h4{color: var(--antique-white);font-size: 32px;font-weight: 600;line-height: 1;}

.form-control-row{gap: 10px;}
.form-control-col{flex-grow: 1;flex-basis: 0;}

input.form-control,input.form-control:focus,
select.form-select,select.form-select:focus{height: 48px;padding: 8px 16px;font-size: 16px;font-weight: 300;background-color: var(--dark-grey);color: var(--antique-white);border-radius: 8px;box-shadow: none;border: 0;}
input.form-control::placeholder{color: var(--antique-white);}

.form-control-col .btn{min-width: 100%;height: 48px;color: var(--dark-grey);background: var(--teal);border: 2px solid var(--dark-grey);border-radius: 8px;}
.form-control-col .btn:hover{background: var(--dark-grey)!important;color: var(--antique-white)!important;}

.scrollbar-hidden::-webkit-scrollbar{display: none;}
.scrollbar-hidden{-ms-overflow-style: none;scrollbar-width: none;}

.blog-card-list{width: calc(100% + 20px);margin: 0 -10px;margin-bottom: -20px;}
.blog-card-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}

@media (max-width:1199.98px){
.container{width: calc(100% - 15px);}
.form-control-col{width: calc(33.33% - 10px);flex-basis: auto;}
}


@media(max-width:991.98px){
.form-control-col{width: calc(50% - 10px);flex-basis: auto;}
.blog-card-item{width: 50%;}
}


@media (max-width: 767.98px) {
.blog-card-item{width: 100%;}
}


@media(max-width:575.98px){
.form-control-col{width: 100%;}
}








    