@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

ul,li{ padding:0; list-style-type: style none; margin:0;}


/*--------- Tailwind Css Start ----------*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*--------- Tailwind Css End ----------*/


:root{--white: #FFF;--black: #000;--gold: #B5AE81;--blue: #1D3458;
--font-inter: "Inter", sans-serif;--font-courier-prime: "Courier Prime", monospace;--font-roboto: "Roboto", sans-serif;}

/* =================reset css starts here=================  */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset,address{margin:0;padding:0;outline:none;border:0}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}
/* =================reset css ends here================= */
/* =================core css starts here================= */
body{font-family: var(--font-inter);font-size:15px;font-weight:400;font-style: normal;line-height:1.5;color: inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background: var(--white);}
.container{width:100%;max-width:1296px;}
.container-fluid{max-width: 1440px;}
.content-container{padding: 120px 0;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--teal);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--black);opacity:0.5;}
::-moz-placeholder{color:var(--black);opacity:0.5;}
:-moz-placeholder{color:var(--black);opacity:0.5;}
:-ms-input-placeholder{color:var(--black);opacity:0.5;}
.os-animation{opacity:0;}
.os-animation.animated{opacity:1;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:20px;font-family: var(--font--courier-prime);line-height:1.6;font-weight:600;font-style: normal;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:26px;}
h6{font-size:22px;}
p{font-family: var(--font--courier-prime);margin:0px;padding:0px;margin-bottom:30px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}

.btn {min-width: 196px;border-radius: 80px;padding: 16px 15px;font-family: var(--font-montserrat);font-size: 16px;font-weight: 600;line-height: 1;box-shadow: none;border-radius: 8px;}
.btn-default,.btn-default:focus { color: var(--dark-grey);background-color: var(--teal);border: solid 1px var(--violet); }
.btn-default:hover,.btn-default:active { color: var(--dark-grey)!important;background-color: var(--antique-white)!important;border-color: var(--antique-white)!important;}
.btn-light, .btn-light:focus{color: var(--dark-grey);background-color: var(--antique-white);border: solid 1px var(--antique-white); }
.btn-light:hover,.btn-light:active { color: var(--teal)!important;background-color: var(--dark-grey)!important;border-color: var(--dark-grey)!important;}
.btn-dark, .btn-dark:focus{color: var(--white);background-color: var(--dark-grey);border: solid 1px var(--dark-grey); }
.btn-dark:hover,.btn-dark:active { color: var(--white)!important;background-color: var(--black)!important;border-color: var(--black)!important;}

.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}


.bg-blue{background: var(--blue);color: var(--white);}
.text-gold{color: var(--gold);}

/* =================core css ends here================= */

.heading{margin-bottom: 60px;color: var(--blue);line-height: 1.2;}
.heading h2{font-size: 54px;font-weight: 700;line-height: 1.2;margin-bottom: 0;color: var(--blue);}
.heading h3{font-size: 48px;font-weight: 700;line-height: 1.2;margin-bottom: 0;color: var(--blue);}
.heading h4{font-size: 36px;font-weight: 700;line-height: 1;margin-bottom: 0;color: var(--blue);font-family: var(--font-roboto);}
.heading h6{font-size: 18px;font-weight: 700;line-height: 1;margin-bottom: 0;color: var(--blue);}





@media (max-width:1199.98px){
.container{width: calc(100% - 15px);}

}


@media(max-width:991.98px){

}


@media (max-width: 767.98px) {

}


@media(max-width:575.98px){

}








    