:root{--white: #FFF;--black: #333333;--blue: #39539d;--pink: #e93aa6;}

@font-face {font-family:'Ubuntu';src: url('/include/fonts/Ubuntu-Bold.eot');src: url('/include/fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),url('/include/fonts/Ubuntu-Bold.woff2') format('woff2'),url('/include/fonts/Ubuntu-Bold.woff') format('woff'),url('/include/fonts/Ubuntu-Bold.ttf') format('truetype'),url('/include/fonts/Ubuntu-Bold.svgUbuntu-Bold') format('svg');font-weight: 700;font-style: normal;font-stretch: normal;font-display: swap;unicode-range: U+0020-2074;}
@font-face {font-family:'Ubuntu';src: url('/include/fonts/Ubuntu-Medium.eot');src: url('/include/fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),url('/include/fonts/Ubuntu-Medium.woff2') format('woff2'),url('/include/fonts/Ubuntu-Medium.woff') format('woff'),url('/include/fonts/Ubuntu-Medium.ttf') format('truetype'),url('/include/fonts/Ubuntu-Medium.svgUbuntu-Medium') format('svg');font-weight: 500;font-style: normal;font-stretch: normal;font-display: swap;unicode-range: U+0020-2074;}
@font-face {font-family:'Ubuntu';src: url('/include/fonts/Ubuntu.eot');src: url('/include/fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),url('/include/fonts/Ubuntu.woff2') format('woff2'),url('/include/fonts/Ubuntu.woff') format('woff'),url('/include/fonts/Ubuntu.ttf') format('truetype'),url('/include/fonts/Ubuntu.svg#Ubuntu') format('svg');font-weight: 400;font-style: normal;font-stretch: normal;font-display: swap;unicode-range: U+0020-2074;}
@font-face {font-family:'Ubuntu';src: url('/include/fonts/Ubuntu-Light.eot');src: url('/include/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),url('/include/fonts/Ubuntu-Light.woff2') format('woff2'),url('/include/fonts/Ubuntu-Light.woff') format('woff'),url('/include/fonts/Ubuntu-Light.ttf') format('truetype'),url('/include/fonts/Ubuntu-Light.svgUbuntu-Light') format('svg');font-weight: 300;font-style: normal;font-stretch: normal;font-display: swap;unicode-range: U+0020-2074;}

/* =================reset css starts here=================  */
* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset { margin: 0; padding: 0; outline: none; border: 0 }
a { text-decoration: none; border: 0; outline: 0; }
ul {list-style: none;}
a:focus, input:focus, textarea:focus, *:focus { outline: 0 !important; }
/* =================reset css ends here================= */
/* =================core css starts here================= */
body {font-size: 12px;font-weight: 400;line-height: 24px;font-family: 'Ubuntu';color: var(--white);background: var(--black); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.container { width: 100%; max-width: 1200px; }
a, input, button { display: inline-block; text-decoration: none; color: inherit; outline: none; transition: all 0.2s ease-in;  -webkit-transition: all 0.2s ease-in; }
a img {border: 0px none;}
a:hover { outline: none; color: var(--blue); text-decoration: none; }
a:active { outline: none; text-decoration: none; }
a:focus { outline: none; outline-offset: 0px; text-decoration: none; color: inherit; }
::-webkit-input-placeholder { color: var(--black); opacity: 0.5; }
::-moz-placeholder { color: var(--black); opacity: 0.5; }
:-moz-placeholder { color: var(--black); opacity: 0.5; }
:-ms-input-placeholder { color: var(--black); opacity: 0.5; }
img {max-width: 100%; border:0; height: auto;}
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; margin-bottom: 24px; line-height: 1.2; font-weight: 700; color: inherit;}
h1 {font-size: 58px;}
h2 {font-size: 48px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}
p {margin: 0px; padding: 0px; margin-bottom: 24px; }
strong {font-weight: 700;}
b {font-weight: 400;}
p:last-child {margin-bottom: 0;}
.btn {border-radius: 30px;font-weight: 700;padding: 4px 10px;font-size: 12px;line-height: 18px;box-shadow: none; transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;}
.btn-default,.btn-default:focus { color: var(--white); background-color: var(--blue); border: solid 1px var(--blue); }
.btn-default:hover,.btn-default:active { color: var(--blue); background-color:transparent; border-color: var(--blue); }
.btn-primary,.btn-primary:focus { color: var(--white); background-color: var(--pink); border: solid 1px var(--pink); }
.btn-primary:hover,.btn-primary:active { color: var(--pink); background-color: transparent; border-color: var(--pink); }
.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}
ul:not([class]) {list-style: none;margin-bottom: 15px;text-align:left;line-height: 22px;}
ul:not([class]) > li {padding-left: 16px;position: relative;margin-bottom: 14px;}
ul:not([class]) > li:last-child{margin-bottom: 0;}
ul:not([class]) > li:before {content: '';position: absolute;left: 2px;top:10px;background: var(--black);height: 5px;width: 5px; border-radius: 50%;}

/* =================core css ends here================= */

/* ================= Content Start ================= */
/* ================= Header Start ================= */
.page-header{width: 0;height: 100%;;background: var(--white);transition: all .2s ease-in;opacity: 0;overflow-y: auto;}
.show-menu .page-header{width: 276px;z-index: 9;opacity: 1;}
.page-header nav{padding: 25px 30px;}


/* ================= Header End ================= */
/* ================= Footer Start ================= */
#footer{background: var(--black); padding: 40px 0;} 
/* ================= Footer End ================= */
.content-container{padding: 60px 0;} 
.page-wapper{height: 100vh;}
.page-bg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-repeat: no-repeat;background-position: center;background-size: cover;}
.page-body{overflow-y: auto;}
.navbar-toggler{position: fixed;background: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%);width: 74px;height: 74px;padding: 10px;}
.navbar-toggler-icon{width: 23px;height: 15px;}
.page-sidebar{width: 276px;height: 100%;background-image: url(/include/images/sidebar-bg.png);background-repeat: no-repeat;background-position: center;background-size: cover;overflow: auto;}
/* ================= Content End ================= */

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px){
.content-container{padding: 50px 0;}
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px){}
/* =================================================  
 ! Small devices (landscape phones, less than 768px)
 ================================================= */
@media (max-width: 767.98px){
}
/* ======================================================
 ! Extra small devices (portrait phones, less than 576px)
 ====================================================== */
@media (max-width: 575.98px){
}

 




