extends layout

block content
    <a class="btn" onclick= "return confirm('Are You Sure ?')" href="/table">Show Table</a>
    h1= "Add a User!"
    form(action="/store" method="POST")
      p Username :
        input(type="text" name="username" placeholder="username")
      p First Name :
        input(type="text" name="first_name" placeholder="first_name")
      p Last Name :
        input(type="text" name="last_name" placeholder="last_name")
      p Father's Name :
        input(type="text" name="father_name" placeholder="father_name")
      p Email :
        input(type="email" name="email" placeholder="email")
      p Phone No. :
        input(type="tel" name="phone_no" placeholder="phone_no")
      p Gender :
        input(type="text" name="gender" placeholder="gender")
      p Age :
        input(type="number" name="age" placeholder="age")
      p State :
        input(type="text" name="state" placeholder="state")
      p City :
        input(type="text" name="city" placeholder="city")
      input(class="btn" type="submit")