.placement-slider-text{position: relative;z-index: 9;line-height: 1.2;}
.placement-slider-text::before{content: '';width: calc(100vw + 100px);height: calc(100% + 10px);position: absolute;top: -5px;right: -45px;z-index: -1;background: var(--white);}
.placement-slider-text h4 {font-size: 36px;font-weight: 800;line-height: 1;text-transform: uppercase;}
.placement-slider-text h4 span {color: #CCC8AC;}
.placement-slider-text p { max-width: 480px; line-height: 1.25;}
.pt-flag h5 {font-size: 36px;font-weight: 800;line-height: 1;text-transform: uppercase;margin-bottom: 6px;}
.pt-flag h3 {font-size: 96px;font-weight: 800;line-height: 0.9;margin-bottom: 9px;}
.pt-flag {margin-top: 32px;}
.pt-flag h2 {font-size: 24px;font-weight: 800;text-transform: uppercase;}

.placement-item {max-width: 212px;align-self: flex-end;}
.placement-box {width: 100%;height: 100%;position: relative;}
.pi-img {width: 100%;position: relative;padding-bottom: 116.25%;border-radius: 15px;overflow: hidden;}
.pi-img img {width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.pi-img:after {content: '';position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(180deg, rgba(159, 155, 134, 0.00) 0%, #1D3459 90.5%);width: 100%;height: 50%;}
.pi-text {position: absolute;left: 0;bottom: 0;width:100%;}
.pi-text h4 {font-size: 12px;color: aliceblue;text-transform: uppercase;padding-left: 12px;margin-bottom: 2px;}
.pi-box {display: flex;justify-content: space-between;border: 1px solid var(--white);margin: 0px 5px 19px 10px;border-radius: 4px;padding: 4px 5px 4px 3px;width: 91%;align-items: center;}
.pi-logo {width: 76px;}
.pi-logo-text {color: #CCC8AC;font-size: 12px;font-weight: 900;line-height: 1;}

.placementSlider .swiper-slide.swiper-slide-active {max-width: 379px;}
.placementSlider .swiper-slide.swiper-slide-active .pi-text {position: absolute;bottom: 0;width:100%;}
.placementSlider .swiper-slide.swiper-slide-active .pi-text h4 {font-size: 22px;padding-left: 16px;}
.placementSlider .swiper-slide.swiper-slide-active .pi-box {border: 2px solid var(--white);margin: 0px 16px 26px 17px;border-radius: 8px;padding: 12px 11px 11px 5px;width:91%;}
.placementSlider .swiper-slide.swiper-slide-active .pi-logo {width: 138px;}
.placementSlider .swiper-slide.swiper-slide-active .pi-logo-text {font-size: 21px;line-height: 1.7;}

.placement-slider-wrapper .placementSlider{overflow:visible;height: 100%;}
.placement-slider-wrapper .placementSlider .swiper-wrapper{height: auto;}
.placement-slider-wrapper .custom-arrow-container{max-width: 285px;height: auto;;left: 350px;bottom: 96px;top: initial;}
.placement-slider-wrapper .custom-arrow{fill: rgba(255, 255, 255, 0.83);filter: drop-shadow(0px 5px 9.1px rgba(0, 0, 0, 0.54));backdrop-filter: blur(4.800000190734863px);}
.placement-slider-wrapper .custom-arrow-prev{background-image: url(../../assets/images/yellow-left-arrow.png);}
.placement-slider-wrapper .custom-arrow-next{background-image: url(../../assets/images/yellow-right-arrow.png);}


@media (max-width:1199.98px){
    .placement-slider-text h4{ font-size:30px;}
    .pt-flag h5 { font-size: 30px;}
    .pt-flag h3 { font-size: 70px;}
    .pt-flag h2 { font-size: 20px;}

    .placementSlider .swiper-slide.swiper-slide-active {max-width: 300px;}
    .placement-slider-wrapper .custom-arrow-container{left: 275px;}
}

@media(max-width:991.98px){
    .placement-slider-text::before{display: none;}
}

@media (max-width: 767.98px) {
}

@media(max-width:575.98px){
    .placement-slider-wrapper .custom-arrow-container{bottom: 40%;left: 50%;transform: translateX(-50%);max-width: 370px;}
}

@media(max-width:424.98px){
    .placementSlider .swiper-slide.swiper-slide-active {max-width: calc(100vw - 60px);width: 100%;}
    .placementSlider .swiper-slide.swiper-slide-active .pi-logo {width: 130px;}
}


