.career-box{background: #BAB699;color: var(--white);padding: 29px 17px 10px;border-radius: 10px;font-size: 11px;min-height: 120px;}
.career-box h6{font-size: 15px;margin-bottom: 0;}
.career-exp{font-size: 12px;font-weight: 600;}