:root{
  --primary-color:#fe821c;
  --light-color:#f2f2e9;
  --white:#fff;
  --black:#000529;
  --hero-font:'Heaters';
  --primary-font: 'Alice', serif;
  --secondary-font:'Sacramento', cursive;
  --custom-ease:all 0.4s cubic-bezier(0.215,0.61,0.355,1);
  --shadow:0 0 16px rgba(0,0,0,0.16);
  --gradient-color:linear-gradient(90deg,#fe821c 0%,#cb6e0a 100%);}
  @font-face {
    font-family: 'Heaters';
    src: url('Heaters.eot');
    src: url('../fonts/Heaters.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heaters.woff2') format('woff2'),
        url('../fonts/Heaters.woff') format('woff'),
        url('../fonts/Heaters.ttf') format('truetype'),
        url('../fonts/Heaters.svg#Heaters') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* =================animate css starts here================= */
.animate-child>*{-webkit-transition:opacity 0.9s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.9s cubic-bezier(0.215,0.61,0.355,1);transition:opacity 0.9s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.9s cubic-bezier(0.215,0.61,0.355,1);transition:opacity 0.9s cubic-bezier(0.215,0.61,0.355,1),transform 0.9s cubic-bezier(0.215,0.61,0.355,1);transition:opacity 0.9s cubic-bezier(0.215,0.61,0.355,1),transform 0.9s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.9s cubic-bezier(0.215,0.61,0.355,1);-webkit-transform:translateY(150px);transform:translateY(150px);-webkit-transition-delay:0.1s;transition-delay:0.1s;opacity:0;will-change:transform,opacity;}
.animate-child.trigger>*{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;}
.animate-child.trigger>:nth-child(2), .animate-child.trigger> .delay2{-webkit-transition-delay:0.2s;transition-delay:0.2s;}
.animate-child.trigger>:nth-child(3), .animate-child.trigger> .delay3{-webkit-transition-delay:0.3s;transition-delay:0.3s;}
.animate-child.trigger>:nth-child(4), .animate-child.trigger> .delay4{-webkit-transition-delay:0.4s;transition-delay:0.4s;}
.animate-child.trigger>:nth-child(5), .animate-child.trigger> .delay5{-webkit-transition-delay:0.5s;transition-delay:0.5s;}
.animate-child.trigger>:nth-child(6), .animate-child.trigger> .delay6{-webkit-transition-delay:0.6s;transition-delay:0.6s;}
.animate-child.trigger>:nth-child(7), .animate-child.trigger> .delay7{-webkit-transition-delay:0.7s;transition-delay:0.7s;}
.animate-child.trigger>:nth-child(8), .animate-child.trigger> .delay8{-webkit-transition-delay:0.8s;transition-delay:0.8s;}
.animate-child.trigger>:nth-child(9), .animate-child.trigger> .delay9{-webkit-transition-delay:0.9s;transition-delay:0.9s;}
.animate-child.trigger>:nth-child(10), .animate-child.trigger> .delay10{-webkit-transition-delay:1s;transition-delay:1s;}
.animate-child.trigger>:nth-child(11), .animate-child.trigger> .delay11{-webkit-transition-delay:1.1s;transition-delay:1.1s;}
.animate-child.trigger>:nth-child(12), .animate-child.trigger> .delay12{-webkit-transition-delay:1.2s;transition-delay:1.2s;}
.animate-child.trigger>:nth-child(13), .animate-child.trigger> .delay13{-webkit-transition-delay:1.3s;transition-delay:1.3s;}
.animate-child.trigger>:nth-child(14), .animate-child.trigger> .delay14{-webkit-transition-delay:1.4s;transition-delay:1.4s;}
.animate-child.trigger>:nth-child(15), .animate-child.trigger> .delay15{-webkit-transition-delay:1.5s;transition-delay:1.5s;}
.animate-child.trigger>:nth-child(16), .animate-child.trigger> .delay16{-webkit-transition-delay:1.6s;transition-delay:1.6s;}
.animate-child.trigger>:nth-child(17), .animate-child.trigger> .delay17{-webkit-transition-delay:1.7s;transition-delay:1.7s;}
.animate-child.trigger>:nth-child(18), .animate-child.trigger> .delay18{-webkit-transition-delay:1.8s;transition-delay:1.8s;}
.animate-child.trigger>:nth-child(19), .animate-child.trigger> .delay19{-webkit-transition-delay:1.9s;transition-delay:1.9s;}
.animate-child.trigger>:nth-child(20), .animate-child.trigger> .delay20{-webkit-transition-delay:2s;transition-delay:2s;}
/* =================animate css ends here================= */
/* =================reset css starts here=================  */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset{margin:0;padding:0;outline:none;border:0;}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}
/* =================reset css ends here================= */

/* =================core css starts here================= */
html{font-size:16px;line-height:1.5;}
body{font-size:1rem;line-height:1.5;font-weight:400;font-family:var(--primary-font);color:var(--black);background:var(--white);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.container{width:calc(100% - 36px);max-width:1224px;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.5s cubic-bezier(0.215,0.61,0.355,1);}
a img{border:0px none;}
a:hover{outline:none;color:var(--primary-color);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
img{max-width:100%;border:0;height:auto;}
.parallax-img img{width:100%;height:120%!important;object-fit:cover;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:1rem;line-height:1.2;font-weight:400;color:inherit; font-family: var(--secondary-font);}
h1{font-size:4rem;}
h2{font-size:3.25rem;}
h3{font-size:2.5rem;}
h4{font-size:2rem;}
h5{font-size:1.5rem;}
h6{font-size:1.375rem;}
p{margin:0px;padding:0px;margin-bottom:1.5rem;}
strong{font-weight:900;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}
.btn{border-radius:30px;font-weight:1000;padding:15px 50px;min-width:140px;font-size:1.125rem;line-height:20px;z-index:1;border:0;box-shadow:none;transition:all 0.5s cubic-bezier(0.215,0.61,0.355,1);background:transparent!important;position:relative;flex-shrink:0;}
.btn:before{content:"";width:100%;height:100%;transition:var(--custom-ease);position:absolute;left:0;top:0;z-index:-1;background:var(--primary-color);border-radius:50px;}
.btn:after{content:"";width:100%;height:80%;transition:var(--custom-ease);position:absolute;left:0;top:30%;z-index:-2;background:var(--primary-color);border-radius:50px;filter:blur(10px);opacity:0.7;}
.btn:hover{padding-left:25px;padding-right:75px;}
.btn:hover:after{filter:blur(0px);top:0;height:100%;}
.btn-primary:hover,.btn-primary:focus{color:var(--white);}
.btn.btn-primary:before,.btn.btn-primary:after{background:var(--primary-color);}
.btn.btn-secondary:before,.btn.btn-secondary:after{background:var(--gradient-color);}
.btn-secondary:hover,.btn-secondary:focus{color:var(--white);}
.btn.btn-light:before{background:var(--light-color);}
.btn.btn-light:after{background:var(--black);opacity:0.2;}
.btn.btn-light .btn-arrow{filter:brightness(0);}
.btn-light:hover,.btn-light:focus{color:var(--black);}
.btn.btn-dark:before,.btn.btn-dark:after{background:var(--black);}
.btn-dark:hover,.btn-dark:focus{color:var(--white);}
.btn-arrow{display:inline-block;transition:var(--custom-ease);width:40px;height:40px;background:url(../images/white-arrow.svg) no-repeat center/50% auto;border-radius:50%;position:absolute;right:5px;top:5px;transform:rotate(0) scale(0);}
.btn:hover .btn-arrow{transform:rotate(0) scale(1);}
.btn.down-arrow .btn-arrow{transform:rotate(90deg) scale(0);}
.btn.up-arrow .btn-arrow{transform:rotate(-90deg) scale(0);}
.btn.left-arrow .btn-arrow{transform:rotate(-180deg) scale(0);right:auto;left:5px;}
.btn.right-arrow .btn-arrow{transform:rotate(0deg) scale(0);}
.btn.down-arrow:hover .btn-arrow{transform:rotate(90deg) scale(1);}
.btn.up-arrow:hover .btn-arrow{transform:rotate(-90deg) scale(1);}
.btn.left-arrow:hover .btn-arrow{transform:rotate(-180deg) scale(1);}
.btn.right-arrow:hover .btn-arrow{transform:rotate(0deg) scale(1);}
.btn.left-arrow:hover{padding-right:25px;padding-left:75px;}
.btn.btn-block{min-width:100%;}
.link{font-weight:1000;color:var(--primary-color);font-size:16px;line-height:25px;padding:0;border:none;text-decoration:none;text-transform:uppercase;display:flex;align-items:center;}
.link:hover{color:var(--primary-color);text-decoration:none!important;}
.link .link-arrow{display:inline-block;transition:all 0.5s cubic-bezier(0.215,0.61,0.355,1);width:20px;height:20px;background:url(../images/color-arrow.svg) no-repeat center right/100% auto;vertical-align:middle;margin-left:15px;flex-shrink:0;position:relative;}
.link:hover .link-arrow,.link-inside:hover .link-arrow{margin-left:10px;}
.btn+.btn,.btn+.link,.link+.btn{margin-left:25px;}
.primary-bg{background:var(--primary-color);color:var(--white);}
.light-bg{background:var(--light-color);color:var(--black);}
.gradient-bg{background:var(--gradient-color);color:var(--white);}
.gradient-text{background:var(--gradient-color);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;padding: 0 20px;}
.outline{-webkit-text-stroke:1px var(--primary-color);color:transparent;}
.outline-shadow{-webkit-text-stroke:1px var(--primary-color);color:transparent;text-shadow:4px 4px 0 rgba(255,101,25,0.08);}
hr{border-top-color:var(--black);margin:80px 0;opacity:0.15;}
.text-white{color:var(--white);}
.text-black{color:var(--black);}
ul:not([class]){list-style:none;margin-bottom:24px;text-align:left;}
ul:not([class])>li{padding-left:22px;position:relative;margin-bottom:18px;}
ul:not([class])>li:last-child{margin-bottom:0;}
ul:not([class])>li:before{content:"";position:absolute;left:0px;top:9px;background:var(--black);height:8px;width:8px;border-radius:50%;}
ol:not([class]){margin-bottom:24px;text-align:left;list-style-position:outside;margin-left:18px;padding:0;}
ol:not([class])>li{position:relative;margin-bottom:18px;}
ol:not([class])>li:last-child{margin-bottom:0;}
#smooth-wrapper{overflow-x:hidden!important;}
.view-all-cta{margin-top:100px;position:relative;z-index:9;}
/* =================core css ends here================= */
/* ================= Header Start ================= */
#header{color:var(--black);background:transparent; width: 400px; height: 100vh;}
.header-upper{width: 100%; position: absolute; left: 0; top: 0; padding: 20px; z-index: 2; text-align: center;}
.header-upper h3{font-size: 40px; line-height: 1.2; margin: 0;}
.header-upper h2{font-size: 60px; line-height: 1.2; margin: 0; color: var(--primary-color);}


.header-lower{width: 100%; position: absolute; left: 0; bottom: 0; padding: 30px; z-index: 2; text-align: center;} 
.header-mid{width: 100%;height: 100%;z-index: 1;padding: 20vh 0;}
.header-mid:before{content:'';height: 35vh;width: 100%;position: absolute;left: 0;top: 0;background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);border-top: solid 20vh #fff;}
.header-mid:after{content:'';height: 35vh;width: 100%;position: absolute;left: 0;bottom: 0;background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);border-bottom: solid 20vh #fff;}

.header-mid-img{width: 100%; height: 100%;}
.header-mid-img img{width: 100%; height: 100%; object-fit: cover;}
.header-mid-img:before{content:'';width: 20%;height: 100%;position: absolute;right: 0;top: 0;background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);}
.header-timer h5{font-size: 40px; line-height: 1;}
.timer-box{display: flex; justify-content: center; flex-flow: column;}
.timer-box span{font-size: 40px; line-height: 1; text-align: center;}
.timer-box b{font-size: 16px; line-height: 1.2;}
/* ================= Header End ================= */
/* ================= Footer Start ================= */
#footer{position:relative;background:var(--gradient-color);color:#fff; height: 100vh; width: 100%;}
 
/* ============================= Home Page Start ============================ */
/* ============================= Common Sections Start ============================ */
.content-container{padding:120px 0; min-height: 100vh;} 
main{width: calc(100% - 400px);}
/* ============================= Common Sections End ============================ */
/* ============================= Home Page End ============================ */
.hero-container{width: 100%;height: 100vh;padding:0;position:relative;background: #fff6cd;box-shadow: 0 5px 15px rgb(0 0 0 / 10%);z-index: 9;}
.hero-bg{width: 100%; height: 100%; position: absolute; left: 0; top: 0;background: #fff url(../images/hero-bg.png) repeat center; z-index: 0; opacity: 0.2;}
.hero-container .container{position:relative;z-index:9;}
.hero-content{position: relative; height: 100vh;}
.hero-content h1{font-size: 100px;line-height: 1.4;position: absolute;top: 40px;width: 100%;display: flex;justify-content: center;text-align: center; z-index: 9; color: var(--primary-color); text-shadow: 2px 2px 0 #fff, 2px 4px 0 #9f4800, 4px 6px 10px rgb(0 0 0 / 25%);}
.hero-content h2{font-size: 200px;line-height: 1;position: absolute;bottom: 0;width: 100%;display: flex;justify-content: center; text-align: center; z-index: 9; color: var(--primary-color); text-shadow: 2px 2px 0 #fff, 2px 4px 0 #9f4800, 4px 6px 10px rgb(0 0 0 / 25%);}
.hero-content h2 span{width: 100%; position: absolute; top: 0; left: 0; z-index: -1; text-shadow: none; color: #9f4800;}
.hero-img-hold{width: 100%;height: 100%;margin: 0 auto;position: relative;}
.hero-img-box{width: 100%;height: 100%;border-radius: 500px;background: #ccc;position: relative;overflow: hidden;box-shadow: 0 5px 20px rgb(47 21 0 / 28%);}
.hero-img-box img{width: 100%; height: 120%; object-fit: cover;}
.hero-img-hold:before{content:'';width: 100%;height: 100%;position: absolute;left: 0;top: 0;transform: scale(1.05);/* border: solid 4px #f00; */border-radius: 500px;z-index: -1;background: var(--primary-color);opacity: 0.2;}
.hero-img-hold:after{content:'';width: 100%;height: 100%;position: absolute;left: 0;top: 0;transform: scale(1.1);/* border: solid 4px #f00; */border-radius: 500px;z-index: -1;opacity: 0.2;background: var(--primary-color);}
.hero-mid-content{height: 80vh; margin: 10vh 0 0; }
.hero-left{width: 30%;}
.hero-mid{width: 40%; padding: 0 5%;}
.hero-right{width: 30%;}
 
.hero-date-info{text-align: center;}
.hero-date-info h4{ font-size: 2rem; margin-bottom: 0;}
.hero-date-info h3{font-family: var(--primary-font); font-size: 2rem;}
@keyframes floating {
  0% {transform: translateY(10%);}
  50% {transform: translateY(-10%);}
  100% {transform: translateY(10%);}
}

.animation-delay1{animation-delay: 0.2s;}
.animation-delay2{animation-delay: 0.4s;}
.animation-delay3{animation-delay: 0.6s;}
.animation-delay4{animation-delay: 0.8s;}
.animation-delay5{animation-delay: 1s;}
.animation-delay6{animation-delay: 1.2s;}


.hero-icon img{width: 100%;animation-name: floating;  animation-duration: 4s; animation-iteration-count: infinite;}
.hero-icon1{position: absolute;width: 80px; top: 30px; left: 0;}
.hero-icon2{position: absolute;width: 90px;top: 24%;left: 61%;z-index: 1;}
.hero-icon3{position: absolute;width: 80px;top: 60%;left: 31%;z-index: 9;}
.hero-icon4{position: absolute;width: 120px;top: 0%;right: 0;}
.hero-icon5{position: absolute;width: 100px;bottom: -10px;right: 0;}
.hero-icon6{position: absolute;width: 50px;bottom: 40px;left: 13%;}
.hero-icon7{position: absolute;width: 80px; top: 30px; left: 0;}








.timeline { display: flex; margin: 0 auto; flex-wrap: wrap; flex-direction: column; max-width: 800px; position: relative; }
.timeline-content-title {font-weight: normal;font-size: 60px;margin: -30px 0 0 0;transition: 0.4s;padding: 0 10px;box-sizing: border-box;font-family: "Sacramento";color: var(--primary-color);text-shadow: 2px 2px 0 #fff, 2px 4px 0 #9f4800, 4px 6px 10px rgb(0 0 0 / 25%);}
.timeline-content-desc {margin: 0;font-size: 19px;box-sizing: border-box;color: #000;line-height: 1.2;}
.timeline:before {position: absolute;left: 50%;width: 2.2px;height: 100%;margin-left: -1px;content: "";border-left: 2.2px dashed var(--primary-color);opacity: 0.7;}
.timeline-item { padding: 40px 0; transition: 0.5s; box-sizing: border-box; width: calc(50% - 40px); display: flex; position: relative; transform: translateY(-80px); }
.timeline-item:nth-child(even) { align-self: flex-end; }
.timeline-item:nth-child(even):before { right: auto; text-align: right; left: calc(-100% - 56px); padding-left: 0; border-left: none; border-right: 3px solid rgba(255, 255, 255, 0.7); padding-right: 15px; }
.timeline-item--active { opacity: 1; transform: translateY(0); filter: blur(0px); }
.timeline-item--active:before { top: 50%; transition: 0.3s all 0.2s; opacity: 1; }
.timeline-item--active .timeline-content-title { margin: -50px 0 20px 0; }
.timeline-img { max-width: 100%; width: 350px; height: 500px; box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7); border-radius: 15px; }
.timeline-container { width: 100%; position: relative; padding: 80px 0; transition: 0.3s ease 0s; background-attachment: fixed; background-size: cover; background-position: center; }
#timeline-1:after { content: ''; height: 35vh; width: 100%; position: absolute; left: 0; bottom: -80px; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); border-bottom: solid 20vh #fff; }
./*timeline-item:after { content: ''; position: absolute; top: 40%; right: -20%; width: 60px; height: 60px; border: 1px solid; border-radius: 50%; background-image: url(include/images/timeline-icon.png); background-position: center; background-repeat: no-repeat; background-size: cover; }
.timeline-item:nth-child(even):after { content: ''; position: absolute; top: 40%; left: -20%; width: 60px; height: 60px; border: 1px solid; border-radius: 50%; background-image: url(include/images/timeline-icon.png); background-position: center; background-repeat: no-repeat; background-size: cover; }
*/






/*.gallery { display: block; float: left; left: 50%; position: relative; transform: translateX(-50%); width: 500px; height: 60vh; }
.gallery:hover .snapstack-snap:not(:hover) { opacity: 0.6s; transition: all 0.2s ease; }
.galley-img-box { background-color: #fff; border-radius: 2px; box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2); height: 500px; overflow: hidden; position: absolute; transition: all 0.5s ease; width: 400px; }
.galley-img-box:hover { transform: rotate(0) scale(1.3); transition: all 0.5s ease; z-index: 100; cursor:pointer; }
.galley-img-box:hover > .gallery-caption { z-index: 110; }
.gallery-frame { border: 0; height: 75%; left: 0; margin: 16px 16px 110px 16px; overflow: hidden; position: absolute; text-align: center; top: 0; width: 92%; }
.gallery-img { display: block; height: 100%; width: 100%; }
.gallery-caption {bottom: 32px;color: var(--primary-color); font-size: 30px; font-family: 'Sacramento'; left: 50%; overflow: hidden;margin-top: 5px; position: absolute; transform: translateX(-50%); }
.card-1 { transform: rotate(-45deg); z-index: 10; }
.card-2 { transform: rotate(-30deg); z-index: 20; }
.card-3 { transform: rotate(-15deg); z-index: 30; }
.card-4 { transform: rotate(0deg); z-index: 40; }
.card-5 { transform: rotate(15deg); z-index: 50; }
.card-6 { transform: rotate(30deg); z-index: 60; }
.card-7 { transform: rotate(45deg); z-index: 60; }*/


.rsvp-form { height: 100%; width: 100%; border-radius: 10px; box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.25); text-align: center; }
.rsvp-info { padding: 50px; }
.rsvp-info-head-title h1 { font-size: 50px; line-height: 1.2; font-weight: 600; font-family: 'Alice'; }
.rsvp-info-head-wish h2 {font-size: 100px;line-height: 1.2;font-weight: 600;color: var(--primary-color);text-shadow: 2px 2px 0 #fff, 2px 4px 0 #9f4800, 4px 6px 10px rgb(0 0 0 / 25%);}
.rsvp-info-head-wish h3 { font-size: 150px; line-height: 1.2; font-weight: 600; color: var(--primary-color); text-shadow: 2px 2px 0 #fff, 2px 4px 0 #9f4800, 4px 6px 10px rgb(0 0 0 / 25%); }
.rsvp-info-head-wish {display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;}
.rsvp-info-detail h2 { font-size: 50px; line-height: 1.2; font-weight: 500; margin-bottom: 15px; }
.rsvp-info-detail > p { font-size: 18px; line-height: 1.2; font-weight: 600; margin-bottom: 15px; }
.rsvp-info-detail {margin-bottom: 50px;display: flex;align-items: center;justify-content: space-evenly;}
.rsvp-input-form input { border: none; border-bottom: solid 2px var(--primary-color); outline: 0; color: #000; }
.rsvp-input-form label { color: #000; font-size: 15px; font-family: 'Alice'; line-height: 1.2; }
.rsvp-input-form textarea { border: none; border-bottom: solid 2px var(--primary-color); outline: 0; color: #000; }
.rsvp-info-btn { display: flex; justify-content: center; }
.rsvp-info-btn button { border-radius: 15px; }
.rsvp-info-btn button { background-color: var(--primary-color); border: none; font-size: 19px; font-weight: 600; padding: 15px 32px; width: 200px; margin: 30px; }
.rsvp-info-btn button:hover { background-color: #cc919a; transition: 0.5s; color: #fff; }



.gallery { columns: 3 320px; padding: 2px; transition: 0.3s; }
.gallery:hover .gallery-image { filter: grayscale(1); }
.gallery-link { margin: 2px; overflow: hidden; }
.gallery-link:hover { transform: rotate(0) scale(1.3); transition: all 0.5s ease; position: relative; z-index: 100; cursor: pointer; background: #fff; border-radius: 10px; padding: 10px; box-shadow: 2px 2px 15px rgb(0, 0, 0, .5); }
.gallery-link:hover .gallery-image { filter: grayscale(0); }
.gallery-link:hover .gallery-caption { opacity: 1; display: block; }
.gallery-thumb { position: relative; margin-bottom: 0; overflow: hidden; }
.gallery-image { display: block; width: 100%; transition: 0.3s; }
.gallery-image:hover {border-radius: 10px }
.gallery-caption { display: none; bottom: 32px; color: var(--primary-color); font-size: 20px; font-family: 'Sacramento'; overflow: hidden; margin-top: 5px; opacity: 0; text-align: center; }
.gallery-image:hover { border-radius: 10px }


/* ================================================================ 
/* *********************** HOME PAGE START ************************ */
/* ================================================================ */ 
 

/* Heading start */
.heading{margin-bottom:120px;position:relative;z-index:1;}
.heading-large{position:absolute;left:0;top:-20%;width:100%;}
.heading h2{font-size:12rem;line-height:0.9;margin:0;text-align:center;text-transform:uppercase;white-space:nowrap;z-index:-1;opacity:0.1;position:absolute;left:50%;transform:translateX(-50%);top:0; font-family: var(--hero-font);}
.heading h2 span{display: inline-block;}
.heading h3{font-size:4rem;line-height:1;position:relative;padding-bottom:30px;margin-bottom:30px;}
.heading h3:before{content:"";width:80px;height:6px;background:var(--primary-color);position:absolute;left:50%;bottom:0;transform:translateX(-50%);}
/* Heading start */


/* ==========================================
! Large devices (desktops, less than 1400px)
=========================================== */
@media (max-width:1399.98px){
}

/* ==========================================
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  h1{font-size:3.5rem;}
  h2{font-size:2.75rem;}
  h3{font-size:2.25rem;}
  h4{font-size:1.75rem;}
  h5{font-size:1.5rem;}
  h6{font-size:1.25rem;}
  
 
  .content-container{padding:160px 0;}
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
  .content-container{padding:120px 0;}
   
}

/* =================================================
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
  .container{width:calc(100% - 16px);}
  }

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){ 
}