.ic-icon-list {display: flex;flex-wrap: wrap;list-style-type: none;justify-content: space-between;align-items: center;width:100%;}
.bg-blue{background: #1D3459;}
.ic-icon-item {margin: 0 auto;display: flex;align-items: center;justify-content: center;}
.ic-icon-item img {mix-blend-mode: luminosity !important;}
.iconList-swiper .swiper-wrapper{align-items: center;}

.cm-heading { text-align: center; max-width: 420px; margin: 0 auto; line-height: 1.2; margin-bottom:85px;}
.cm-heading h4 {font-size: 29px;margin-bottom: 8px;} 
.cm-heading h4 span {color:#CCC8AC;}
.cm-list {display: flex;flex-wrap: nowrap;width: calc(100% + 20px);margin-left: -10px;margin-bottom: 40px;}
.cm-item {padding: 0 10px;width: 190px;height: 90px;}
.cm-list+.cm-list {margin-bottom: 20px;}
.cm-item img {width: 100%;height: 100%;object-fit: contain;}

.num-heading {text-align: center;margin-bottom: 86px;}
.num-heading h4 {font-size: 29px;color: #CCC8AC;}
.num-heading span {color: #1D3459;}
.num-box {display: flex;}
.nb-box {width: 211px;background: #CCC8AC;border-radius: 10px;position: relative;padding-left: 94px;padding-top: 11px;min-height: 104px;}
.nb-text {border-bottom: 1px solid #CCC8AC;margin-left: -8px;width: calc(100% - 211px);padding-left: 48px;padding-top: 2px;}
.nb-box h4 {color: #FFF;font-family: "Alfa Slab One";font-size: 73px;font-style: normal;font-weight: 400;line-height: normal;top: -23px;left: -12px;position: absolute;}
.para {font-size: 14px;color: #fff;line-height: 1.1;}
.nb-text h4 {font-size: 16.5px;font-family: monospace;max-width: 400px;line-height: 1.1;color: #1D3459;font-weight: 100;}
.num-item {max-width: 800px;margin: 0 auto;}
.num-item+.num-item {margin-top: 87px;}
.num-item:nth-child(2n) .num-box {flex-direction: row-reverse;}
.num-item:nth-child(2n) .num-box .nb-text h4 {margin-left: auto;text-align: end;}
.num-item:nth-child(2n) .num-box .nb-text {padding-right:48px;}



@media (max-width:1199.98px){

}

@media(max-width:991.98px){
    .nb-text{padding-left:20px;}
}

@media (max-width: 767.98px) {
    .num-heading h4 {font-size: 24px;}
    .num-heading{margin-bottom:40px;}
    .num-box {display: flex;flex-direction: column !important; width:100%;}
    .num-item:nth-child(2n) .num-box .nb-text{padding-right:20px; width:100%;}
    .nb-text{width:100%; margin-top: 20px !important; text-align: left !important;}
    .nb-text h4{width:100%; max-width:100%;}
    .num-item+.num-item{margin-top:40px;}
}

@media(max-width:575.98px){
    .num-heading h4{font-size:20px;}
}

    