.institute-card-box{padding: 35px 20px 24px;position: relative; height: 100%; border-radius: 24px; overflow: hidden; border: 1px solid rgba(255, 255, 255, 0.7); background: linear-gradient(300deg, rgba(172, 165, 143, 0.26) 0%, rgba(232, 225, 205, 0.26) 100%); backdrop-filter: blur(12px);}
.institute-card-box h4{font-family: var(--font-roboto);font-size: 72px;font-weight: 800;line-height: 1;margin-bottom: 3px;color: #CCC8AC;text-transform: uppercase;}
.institute-card-box h6{font-family: var(--font-roboto);font-size: 12px;font-weight: 800;line-height: 1.07;text-transform: uppercase;}
.institute-card-box h6 span{color: #CCC8AC;display: block;}

.ic-program-row+.ic-program-row{margin-top: 38px;}
.ic-program-row h5{font-size: 18px;font-weight: 800;line-height: 1;margin-bottom: 10px;text-transform: uppercase;}
.icp-list li{font-size: 12px;font-weight: 700;line-height: 1.75;text-transform: uppercase;}
.icp-list li:not(:last-child){position: relative;padding-right: 4px;margin-right: 6px;}
.icp-list li:not(:last-child)::after{content: '';width: 2px;height: 80%;position: absolute;left: 100%;top: 50%;transform: translateY(-50%);background: var(--white);}

.ic-bottom-row{font-family: var(--font-courier-prime);margin-top: 20px;}
.ic-bottom-row > p{max-width: 310px;font-size: 10px;line-height: 1.1;text-align: right;}
.ic-program-list{width: calc(100% + 8px);margin-right: -4px;margin-bottom: -8px;}
.ic-program-item{width: 16.66%;padding: 0 4px;margin-bottom: 8px;}
.ic-program-box{padding: 8px;border: 1px solid rgba(255, 255, 255, 0.7);border-radius: 6px;}
.ic-program-box h5{font-size: 18px;line-height: 1.1;margin-bottom: 6px;}
.icp-details-wrapper{gap: 26px;}
.icp-details-item{font-size: 14px;font-weight: 700;line-height: 1;}
.icp-details-item:not(:last-child){border-bottom: 1px solid var(--white);padding-bottom: 8px;margin-bottom: 8px;}
.icp-details-item h6{font-family: var(--font-courier-prime);font-size: 10px;font-weight: 700;line-height: 1;margin-bottom: 4px;text-transform: capitalize;}
.icp-year{font-family: var(--font-roboto);font-size: 12px;font-weight: 700;line-height: 1;text-align: center;margin-top: 10px;}
.icp-year span{font-size: 30px;display: block;}

@media (max-width:1199.98px){
    .ic-program-item{width: 20%;}
}
   
   
@media(max-width:991.98px){
    .ic-program-item{width: 25%;}
}
   
   
@media (max-width: 767.98px) {
    .ic-program-item{width: 33.33%;}
}
   
   
@media(max-width:575.98px){
    .ic-program-item{width: 50%;}
}