.mySwiper {width: 100%;height: 100%;}
.Cardslider {top: -50%;}
.slider-box {background: #1D3459;color: #CCC8AC;padding: 30px 15px;border-radius: 20px;text-align: center;}
.slider-box h4 {font-size: 34px;font-weight: 700;margin-bottom: 0;line-height: 1;font-family: Karantina;}
.swiper-button-next,
.swiper-button-prev {background-size: contain;background-repeat: no-repeat;background-position: center;width: 50px !important;height: 50px !important;}
.swiper-button-next {background-image: url('../../assets/images/right-arrow.svg');right: 10px; }
.swiper-button-prev {background-image: url('../../assets/images/left-arrow.svg'); left: 10px; }
.swiper-button-next:hover,
.swiper-button-prev:hover {opacity: 1;}
.swiper-button-next:after,
.swiper-button-prev:after {display: none;}
.Cardslider {width: calc(100% - 160px);}

.slider-box.typetwo {background: #CCC8AC;color: #fff;border-radius: 10px;padding: 20px 0;min-height: 90px;}
.slider-box.typetwo p{text-decoration: underline;}
.content-container.gold{background-color:#bab699;}
  