.as-heading h5 {font-size: 30px;text-align: center;text-transform: uppercase;font-weight: 900;margin-bottom: 0;color: #fff;}
.as-heading {margin-bottom: 57px;}
.ac-slider{padding-top:40px; padding-bottom:80px; border-bottom:10px solid #fff;}
.ac-slider:last-child{border-bottom:none;}