.approval-head{padding: 0 14px;font-size: 12px;line-height: 1.8;color: var(--white);}
.approval-head h4{margin-bottom: 8px;color: var(--gold);}
.approval-box{    background: #bab699;color: var(--white);padding: 10px;border-radius: 10px;font-size: 11px;min-height: 115px;}
.approval-box h6 {font-size: 15px;margin-bottom: 0;}
.approval-list{width: calc(100% + 4px);margin-left: -2px;margin-bottom: -10px;margin-top: 82px;}
.approval-item{width: 16.66%;padding: 0 2px;margin-bottom: 10px;}

@media (max-width:1199.98px){
    .approval-item{width: 20%;}
}
    
    
@media(max-width:991.98px){
    .approval-item{width: 25%;}
}
    
    
@media (max-width: 767.98px) {
    .approval-item{width: 33.33%;} 
}
    
    
@media(max-width:575.98px){
    .approval-item{width: 50%;}
}