.ActivitiesCardBg {width: 100%;background-repeat: no-repeat;background-size: cover;background-position: top center;height: 900px;display: flex;align-items: flex-end;padding-bottom: 114px;}
.acard-box {width: 100%;height: 100%; background-repeat: no-repeat;background-position: bottom;padding: 19px 21px;position: relative;overflow: hidden;min-height: 215px;border-radius: 18.24px;border: 1.52px solid #FFF;background-color: rgba(29, 52, 89, 0.46);backdrop-filter: blur(6.004000186920166px);background-size: contain;}
.acard-item h4 {color: #fff;}
.acard-box h5 {font-size: 15px;color: #fff;margin-bottom: 12px;}
.acard-box p {font-size: 12px;line-height: 1.2;max-width: 239px;color: #fff;margin-bottom: 32px;}
.ac-btn {background: #fff;font-size: 9px;padding: 5px 17px;border-radius: 20px;color: #000;}
.ab-icon {width: 27px;height: 27px;position: absolute;top: 10px;right: 11px;}
.ActivitiesCard {width: calc(100% - 160px);}
.acard-item{width:100%; height:100%;}
.activities-card-wrapper .custom-arrow-next {background-image: url('../../assets/images/yellow-right-arrow.png');}
.activities-card-wrapper .custom-arrow-prev {background-image: url('../../assets/images/yellow-left-arrow.png');}

@media(max-width:1199.98px){
    .acard-box h4 {font-size: 28px;}
    .acard-box h5 {font-size: 14px;}
    .ac-text h4 {font-size: 40px;}     
    .activities-hero h1 {font-size: 78px;}
}

@media(max-width:991.98px){
    .ActivitiesCardBg{ height:700px;}
    .ac-text h4 {font-size: 34px;} 
    .activities-hero-img {width: 600px;}
    .activities-hero h1 {font-size: 64px;}
}

@media(max-width:767.98px){
    .ActivitiesCardBg{ height:500px;}
    .ac-text h4 {font-size: 28px;}  
    .ac-text p{ font-size:16px;}
    .activities-hero-img { width: 500px;} 
    .activities-hero h1 {font-size: 58px;}
}


@media(max-width:575.98px){
    .ac-text h4 {font-size: 24px;}
    .ac-text p{ font-size:14px;}
    .activities-hero-img {width: 400px;}
    .activities-hero h1 {font-size: 44px;}
    .ActivitiesCard {width: calc(100% - 56px);}
    .custom-arrow {z-index: 11;}
        
}


