.contact-card-box{min-height: 232px;padding: 34px 12px 19px;border: 6px solid #BAB699;border-radius: 19px;font-size: 15px;line-height: 1.21;color: #BAB699;}
.contact-card-institute{font-weight: 700;margin-bottom: 14px;}
.contact-card-name{font-weight: 700;margin-bottom: 9px;}
.contact-card-phone{font-weight: 700;}


@media(max-width:767.98px){   
    .contact-card-box{min-height: 160px;padding: 25px 12px;}
}