.admission-box{min-height: 136px;padding: 20px;font-family: var(--font-roboto);color: var(--white);background: linear-gradient(289.52deg, #1D3459 0%, #899BB9 100%);border: 1px solid var(--white);border-radius: 22px;}
.admission-box h5{font-size: 12px;font-weight: 700;padding-right: 30%;}
.admission-seat{min-width: 80px;padding: 6px 9px;font-size: 18px;font-weight: 500;line-height: 1;border: 1px solid var(--white);border-radius: 6px;}
.admission-seat-icon{width: 20px;height: 16px;padding-right: 8px;margin-right: 8px;border-right: 1px solid var(--white);}
.admission-seat-icon img{width: 100%;height: 100%;object-fit: contain;}
.admission-year{font-size: 11px;font-weight: 50px;line-height: 1;}
.admission-year span{font-size: 30px;}