.mucard-item {display: flex;background: #BAB699;flex-wrap: wrap;padding: 20px;color: var(--white);}
.mu-img {width: 46%;height: 100%;padding-bottom: 41.5%;position: relative;}
.mu-text {width: 54%;font-size: 18px;line-height: 1.2;padding: 15px;}
.mucard-item+.mucard-item {margin-top: 70px;}
.mu-img img {width: 100%;height: 100%;object-fit: cover;top: 0;right: 0;bottom: 0;left: 0;position: absolute;}
.mucard-list {padding: 0 40px;}
.mu-text h4 {font-size: 24px;text-transform: uppercase;font-weight: 900;line-height: 1.3;margin-bottom: 0;color: var(--blue);}
.mu-text h5 {font-size: 24px;text-transform: uppercase;font-weight: 900;margin-bottom: 30px;line-height: 1.2;}
.mucard-item:nth-child(2n) {flex-direction: row-reverse;}


@media (max-width:1199.98px){
    .mu-text {font-size: 16px;}
    .mu-text h4 {font-size: 20px;}
    .mu-text h5 {font-size: 20px;margin-bottom: 10px;}
    .mu-text h6 {font-size: 20px;margin-bottom: 10px;}
}


@media(max-width:991.98px){
    .mucard-item {flex-direction: column;}
    .mu-text {width: 100%;padding: 0;margin-bottom: 20px;}
    .mu-img {width: 100%;}
    .mu-img img {object-position: top;}
    .mucard-item {padding: 10px;}
    .mucard-item+.mucard-item {margin-top: 50px;}
}

@media (max-width: 767.98px) {
    .mu-text h4 {font-size: 18px;}
    .mu-text h5 {font-size: 18px;}
    .mu-text h6 {font-size: 18px;}
    .mu-text {font-size: 14px;}
    .mu-img{padding-bottom:60%;}
    .mucard-item+.mucard-item {margin-top: 40px;}
}

@media(max-width:575.98px){
    .mucard-item+.mucard-item {margin-top: 30px;}
}
    