.af-container:after {content: '';position: absolute;width: 100%;height: 50%;left: 0;right: 0;bottom: 0;background: linear-gradient(180deg, rgba(10, 7, 5, 0) 0%, #10213de0 65.93%);}
.af-container {position: relative;}
.alumni-text {position: absolute;bottom: 67px;z-index: 999;color: #fff;border: 4px solid;border-image-source: linear-gradient(94.68deg, #C5BE9C 0%, #8D8766 100%);border-image-slice: 1;padding: 26px 20px;width: 872px;}
.alumni-text h4 {font-size: 30px;font-weight: 600;margin-bottom: 18px;}
.at-para {line-height: 1.3;width: 689px;font-size: 18px;}
.alumni-text:after {content: '';position: absolute;background-image: url(/src/assets/images/flagsl-icon.svg);right: -24px;bottom: -4px;width: 46px;height: 53px;}
.af-container:before {content: '';position: absolute;top: 0;width: 90%;height: 1px;border: 2px solid #BAB6997D;left: 50%;transform: translateX(-50%);z-index: 99999;}
.af-img {width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 47.8%;}
.af-img img {width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}
.af-img:after {content: '';position: absolute;background: linear-gradient(180deg, rgb(17 34 61 / 96%) 0%, rgb(53 52 52) 100%);height: 150px;z-index: 111;width: 100%;bottom: -75px;filter: blur(16px);}
.af-container.tc .af-img:before {content: '';position: absolute;background: linear-gradient(180deg, rgb(10 30 60 / 99%) 0%, rgb(58 75 53 / 70%) 100%);height: 150px;z-index: 111;width: 100%;top: -50px;filter: blur(17px);}
.af-container.tf .af-img:after{display:none; }


@media (max-width: 1199.98px) {

    .alumni-text h4 {font-size: 26px;margin-bottom: 10px;}
    .at-para {font-size: 16px;}
    .alumni-text {width: 90% ;}

}

@media (max-width: 991.98px) {

    .alumni-text h4 {font-size: 24px;}
    .at-para {width: 100%;}
    .af-img{padding-bottom:55%;}
    .alumni-text{bottom:40px;}
}


@media (max-width: 767.98px) {
    
    .alumni-text h4 {font-size: 22px;}
    .at-para {font-size: 14px;}
    .af-img {padding-bottom: 65%;}
    .alc-item {font-size: 16px;}
    

}

@media (max-width: 575.98px) {

    .alumni-text h4 {font-size: 20px;}
    .af-img {padding-bottom: 100%;}
    .alumni-text {width: 86%;}
    .alc-item {font-size: 14px;}
 
}