:root {
    --white: #FFF;
    --black: #12141a   ;
    --black-light: #191c24;
    --grey: #f5f5f5;
    --green: #04c88f;
    --font-primary: 'DM Sans', sans-serif;
}

/* Light Theme (Default) Variable Start  */
:root{
    --body-bg:var(--white);
    --body-color:var(--black-light); 
}
    
/* Dark Theme Variable Start  */
body.dark-theme{
  --body-bg:var(--black);
  --body-color:var(--white); 
} 


/* =================reset css starts here=================  */
* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset { margin: 0; padding: 0; outline: none; border: 0 }
a { text-decoration: none; border: 0; outline: 0; }
ul {list-style: none;}
a:focus, input:focus, textarea:focus, *:focus { outline: 0 !important; }
/* =================reset css ends here================= */
/* =================core css starts here================= */
body { padding-top:60px;font-family: var(--font-primary);font-size: 18px;font-weight: 400;line-height: 24px;color: var(--body-color);background: var(--body-bg); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.container { width: calc(100% - 16px); max-width: 1264px; }
.container-fluid { width: calc(100% - 76px); max-width: 1524px; }
a, input, button { display: inline-block; text-decoration: none;color: inherit; outline: none; transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;}
a img {border: 0px none;}
a:hover { outline: none; color: var(--green); text-decoration: none; }
a:active { outline: none; text-decoration: none; }
a:focus { outline: none; outline-offset: 0px; text-decoration: none; color: inherit; }
::-webkit-input-placeholder { color: #000; opacity: 0.5; }
::-moz-placeholder { color: #000; opacity: 0.5; }
:-moz-placeholder { color: #000; opacity: 0.5; }
:-ms-input-placeholder { color: #000; opacity: 0.5; }
.os-animation {opacity: 0;}
.os-animation.animated {opacity: 1;}
img {max-width: 100%; border:0; height: auto;}
h1, h2, h3, h4, h5, h6 { margin: 0px;padding: 0px; font-weight: 700;line-height: 1.15;color: inherit;margin-bottom: 24px; }
h1 {font-size: 60px;}
h2 {font-size: 50px;}
h3 {font-size: 42px;}
h4 {font-size: 36px;}
h5 {font-size: 30px;}
h6 {font-size: 24px;}
p {margin: 0px; padding: 0px; margin-bottom: 24px; }
strong {font-weight: 700;}
b {font-weight: 400;}
p:last-child {margin-bottom: 0;}
.btn {min-width: 140px;padding: 9.2px 20px;font-size: 16px;font-weight: 600;line-height: 24px;border: solid 1px transparent;border-radius: 30px;box-shadow: none; transition: all 0.2s ease-in;}
.btn:has(.btn-icon){display: inline-flex;align-items: center;justify-content:center;gap: 10px;}
.btn-icon{width: 24px;height: 24px;flex-shrink: 0;}
.btn-default,.btn-default:focus { color: var(--white); background-color: var(--black-light); border-color: var(--black-light); }
.btn-default:hover,.btn-default:active { color: var(--black-light); background-color: var(--white); border-color: var(--white); }
.btn-default .btn-icon{filter: brightness(0) invert(1);}
.btn-default:hover .btn-icon{filter: brightness(0) invert(0);}
.btn-green,.btn-green:focus { color: var(--white); background-color: var(--green); border-color: var(--green); }
.btn-green:hover,.btn-green:active { color: var(--green); background-color: var(--grey); border-color: var(--green); }
.btn-green .btn-icon{filter: brightness(0) invert(1);}
.btn-green:hover .btn-icon{filter: none;}
.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}
ul:not([class]) {list-style: none;margin-bottom: 15px;text-align:left;line-height: 22px;}
ul:not([class]) > li {padding-left: 16px;position: relative;margin-bottom: 14px;}
ul:not([class]) > li:last-child{margin-bottom: 0;}
ul:not([class]) > li:before {content: '';position: absolute;left: 2px;top:10px;background: var(--body-color);height: 5px;width: 5px; border-radius: 50%;}

.bg-body{background: var(--body-bg)!important;color: var(--body-color)!important;}

.dark-theme .btn-green:hover{background: var(--black-light)!important;color: var(--white)!important;}

/* =================core css ends here================= */
/* ================= Header Start ================= */
#header{color:  var(--body-color);background: var(--body-bg);position: fixed;left: 0;top: 0;right: 0;padding: 0;z-index: 9999;transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;display: flex;align-items: center;backdrop-filter: blur(8px);}
.fixed #header{box-shadow: 0 5px 8px rgba(0,0,0,0.1);}
.navbar{padding: 0; width: 100%; height: 60px;} 
.navbar::after{content: '';position: absolute;top: 100%;left: 50%;transform: translateX(-50%);width: 100%;height: 1px;max-width: 1200px;background: rgba(255, 255, 255, 0.25);}
.navbar-brand { width: auto ; padding: 0; margin: 0; position: relative; z-index: 999;gap: 10px;}
.navbar-brand .brand-logo img{width: 35px;}
.dark-theme .navbar-brand .brand-logo img{filter: brightness(0) invert(100%);}
.navbar-brand .brand-name{font-size: 20px;font-weight: 900;line-height: 24px;color: var(--body-color);}
.navbar-expand-xl .navbar-nav .nav-item{margin: 0 15px;}
.navbar-expand-xl .navbar-nav .nav-link{font-size:18px;font-weight:400;line-height:43px;color:var(--body-color); padding: 0;margin:0;}
.navbar-expand-xl .navbar-nav .nav-item:hover .nav-link, .navbar-expand-xl .navbar-nav .nav-item.active .nav-link{color: var(--body-color);}
.dropdown-toggle::after{display:none;}
.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow{display:none;}
.nav-inside{width: 100%;padding: 0;}
.header-right{margin-left: 15px;gap: 10px;}
.nav-inside-content{padding: 30px 0;}
@media only screen and (min-width: 1200px) {
.navbar-nav>li>.dropdown-menu { display: block !important; top: 100% !important; margin-top: 10px !important; opacity: 0; visibility: hidden; background: #f00; color: var(--white);   min-width: 180px; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); border: 0; border-radius: 0; transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; -webkit-transition: all 0.1s ease-in; }
.dropdown:hover .dropdown-menu { opacity: 1; visibility: visible; margin-top: 0px !important; transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; }
.dropdown-item { color: var(--white); padding: 5px 15px;  font-weight: 400;}
.dropdown-item:focus, .dropdown-item:hover{color:var(--black); background: transparent;}
} 
.navbar-toggler {width: 45px;height: 45px;border-radius: 0;cursor: pointer;text-decoration: none;padding: 0;border: 0;background: transparent;margin: 0;position: absolute;top: 0;right: 0;}
.navbar-toggler:not([class="collapsed"]), .navbar-toggler:not([class="collapsed"]):focus, .navbar-toggler:not([class="collapsed"]):hover {background: transparent;}
.navbar-toggler.collapsed, .navbar-toggler.collapsed:focus, .navbar-toggler.collapsed:hover {background: transparent;}


/* ================= Header End ================= */
/* ================= Footer Start ================= */
#footer{background: var(--grey);color: var(--body-color); padding: 50px 0;} 
.dark-theme #footer{background: var(--black-light);}
.footer-top{display: flex;justify-content: space-between;}
.footer-top .footer-logo{display: flex;align-items: center;gap: 10px;}
.footer-top .footer-logo .brand-logo img{width: 35px;}
.dark-theme .footer-top .footer-logo .brand-logo img{filter: brightness(0) invert(100%);}
.footer-top .footer-logo .brand-name{font-size: 20px;font-weight: 900;line-height: 24px;color: var(--body-color);}
.footer-top .social-links{gap: 10px;}
.footer-bottom{display: flex;justify-content: space-between;}
.footer-card{padding: 20px;border-radius: 20px;}
/* ================= Footer End ================= */
/* ================= Content Start ================= */
.content-container{padding: 60px 0;} 

.hero-container{padding: 120px 0 100px;}

.cta-box{width: 100%;background: var(--green);color: var(--white);padding: 100px 30px 60px;border-radius: 10px;}

.video-box{width: 100%;max-width: 712px;}

.blog-list{width: calc(100% + 30px);margin-left: -15px;margin-bottom: -30px;}
.blog-item{width: 33.33%;padding: 0 15px;margin-bottom: 30px;}
.blog-item-box{min-height: 478px;background: rgba(217, 217, 217, 0.2);border-radius: 24px;overflow: hidden;}

.blog-img{width: 100%;height: 200px;}
.blog-img img{width: 100%;height: 100%;object-fit: cover;}

.blog-content{padding: 20px;font-size: 16px;line-height: 22px;}
.blog-content h4{font-size: 16px;font-weight: 600;line-height: 24px;margin-bottom: 10px;}

.blog-author-content{gap: 20px;}
.blog-author-img{width: 68px;height: 68px;border-radius: 50%;overflow: hidden;}
.blog-author-img img{width: 100%;height: 100%;object-fit: cover;}

.blog-author-info{font-size: 16px;font-weight: 400;line-height: 22px;}
.blog-author-info h6{font-size: 18px;font-weight: 400;line-height: 24px;margin-bottom: 5px;}
/* ================= Content End ================= */

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px){
body{padding-top: 80px;} 
.navbar{padding:0 15px;width: 100%; height: 80px;}  
.navbar-toggler{width: 54px;height: 40px;height: 60px;border-radius: 0;cursor: pointer;text-decoration: none;padding: 0;border: 0;background: transparent;margin: 0;position: absolute;right: 0;top: 50%;z-index: 999; transform: translateY(-50%);}
.navbar-toggler:not([class="collapsed"]),.navbar-toggler:not([class="collapsed"]):focus,.navbar-toggler:not([class="collapsed"]):hover {background: transparent;}
.navbar-toggler.collapsed,.navbar-toggler.collapsed:focus,.navbar-toggler.collapsed:hover {background: transparent;}
.home .navbar-toggler.collapsed,.home .navbar-toggler.collapsed:focus,.home .navbar-toggler.collapsed:hover {background: transparent;}
.navbar-toggler .navbar-toggler-icon {position: relative;display: inline-block;width: 30px;height: 3px;color: #243238;text-indent: -55px;margin-top: 0;background: transparent!important;transition: all .2s ease-out;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;vertical-align: middle;}
.navbar-toggler .navbar-toggler-icon:before,.navbar-toggler .navbar-toggler-icon:after {content: '';width: 30px;height: 3px;background: #f00;position: absolute;left: 0;transition: all .2s ease-out;}
.navbar-toggler.collapsed .navbar-toggler-icon {background: #f00!important;}
.navbar-toggler.collapsed .navbar-toggler-icon:before,.navbar-toggler.collapsed .navbar-toggler-icon:after {background: #f00;}
.navbar-toggler.collapsed .navbar-toggler-icon:before {top: -10px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .navbar-toggler-icon:before { top: 0; -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -o-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.navbar-toggler.collapsed .navbar-toggler-icon:after {bottom: -10px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .navbar-toggler-icon:after { bottom: 0; -webkit-transform: rotateZ(-45deg); -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }
.header-right{position: relative;z-index: 999;margin-right: 50px;}
.navbar-collapse, .navbar-collapse.collapsing{position:fixed;top: 80px;left: 0;background: #999;padding: 0;z-index:99;margin:0;border:0;overflow-y:auto;bottom: 0;width: 100%;height:0;display: block !important;transition: all .3s cubic-bezier(0.77,0.2,0.05,1.0); }
.navbar .collapse.show{height: calc(100vh - 80px);}
.navbar-inside{height: calc(100vh - 80px);padding: 0 15px; display: flex;flex-flow: column;}
.navbar-expand-xl .navbar-nav .nav-item{padding: 0;margin: 0;border-bottom: solid 1px #f00;}
.navbar-expand-xl .navbar-nav .nav-link{font-size: 16px;line-height: 30px;padding: 15px 0;position:relative;color: #333;}
.navbar-nav.sm-collapsible .sub-arrow{border:0;margin: 0;width: auto;font-size: 30px;line-height: 60px;top: 0;height: 60px;color: #f00;width: 40px;}
.dropdown-menu{background:transparent;border:0;padding: 0;margin: 0 0 20px 0;}
.dropdown-item {padding: 7px 20px 7px 40px;}
.dropdown-item:focus, .dropdown-item:hover{color: #f00;background:transparent;}
.content-container{padding: 50px 0;}
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px){}
/* =================================================  
 ! Small devices (landscape phones, less than 768px)
 ================================================= */
@media (max-width: 767.98px){
}
/* ======================================================
 ! Extra small devices (portrait phones, less than 576px)
 ====================================================== */
@media (max-width: 575.98px){
}

 




