.institute-feature-container{padding: 24px 0;background: #0D1D38;}
.institute-feature-list {display: flex;flex-wrap: wrap;width: calc(100% + 20px);margin-left: -10px;justify-content: center;margin-bottom: -40px;}
.institute-feature-item {width: 20%;position: relative;padding:0 10px;margin-bottom: 40px;}
.institute-feature-img {width: auto;height: 35px;margin: 0 auto;}
.institute-feature-img img {width: 100%;height: 100%;object-fit: contain;}
.institute-feature-text{max-width: 120px;margin: 0 auto;margin-top: 18px;}
.institute-feature-text h4 {font-family: var(--font-roboto);font-size: 9px;text-align: center;color: var(--white);font-weight: 200;}
.institute-feature-item::after {content: '';position: absolute;width: 3px;height: 70px;background: rgba(255, 255, 255, 0.16);top: 50%;right: 0;transform: translateY(-50%);}
.institute-feature-item:last-child::after{display:none;}

.home-about-container{padding: 90px 0 140px;}
.home-about-bg{width: 100%;max-width: 488px;height: 100%;position: absolute;top: 50%;left: 65%;transform: translate(-50%,-50%);}
.home-about-bg img{width: 100%;height: 100%;object-fit: contain;}
.home-about-content{width: 439px;line-height: 1.2;color: var(--white);padding-left: 10px;}
.home-about-content h2{font-size: 54px;font-weight: 800;line-height: 1.2;margin-bottom: 23px;}
.home-about-content h2 span{color: #A89B56;display: block;}
.home-about-content p{text-align: justify;}
.home-about-content .btn{color: var(--white);font-weight: 400;}
.home-about-img{width: calc(100% - 439px);padding-left: 17%;}
.home-about-img img{width: 100%;height: 100%;object-fit: contain;}
.home-about-img.other{width:500px;height:550px;}

.home-event-container{padding: 210px 0 160px;background: #10213D;}
.home-event-container::before{content: '';width: 100%;height: 108px;position: absolute;top: -54px;left: 0;background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgb(255 255 255 / 0%) 33.33%, rgb(22 42 72) 66.66%, rgb(255 255 255 / 0%) 100%);filter: blur(2.5px);-webkit-backdrop-filter: blur(2.5px);backdrop-filter: blur(2.5px);z-index: 9;}
.home-event-container::after{content: '';width: 91%;height: 1px;position: absolute;top: 0;left: 50%;transform: translateX(-50%);background: #639EFF;z-index: 9;}
.home-event-bg{width: 100%;height: calc(100% - 220px);position: absolute;top: 0;left: 0;}
.home-event-bg img{width: 100%;height: 100%;object-fit: cover;}
.home-event-bg::after{content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: linear-gradient(180deg, rgba(10, 7, 5, 0) 0%, #10213D 65.93%);}
.home-event-head{max-width: 432px;line-height: 1.2;color: var(--white);}
.home-event-head h2{font-size: 36px;font-weight: 800;line-height: 1.2;margin-bottom: 12px;}
.home-event-head h2 span{font-size: 96px;line-height: 0.85;color: #BEBAA0;display: block;}
.home-event-head + .home-event-content{margin-top: 126px;}
.home-event-content{position: relative;}
.home-event-content::after{content: '';width: 1px;height: 100%;position: absolute;top: 0;left: 50%;transform: translateX(-50%);border: 1px dashed #CCCCCC;}
.home-event-left{padding-left: 11%;}
.home-event-right{padding-left: 7%;}

.he-head{max-width: 295px;line-height: 1.2;color: var(--white);}
.he-head h4{font-weight: 800;line-height: 1;margin-bottom: 12px;text-transform: uppercase;}

.he-head + .he-row{margin-top: 20px;}
.he-row{gap: 40px;max-width: 360px;}
.he-item{width: calc(50% - 20px);min-width: 152px;}
.he-row:not(:last-child){padding-bottom: 9px;margin-bottom: 9px;border-bottom: 1px dashed #CCCCCC;}
.he-item:nth-child(odd) .he-box{border-right: 1px dashed #CCCCCC;}
.he-box{padding: 10px 0;padding-right: 30px;font-family: var(--font-roboto);font-size: 10px;font-weight: 600;line-height: 1.5;color: rgba(253, 253, 253, 0.88);}
.he-box h5{font-family: var(--font-roboto);font-size: 20px;font-weight: 600;line-height: 1.2;color: #A69E87;margin-bottom: 6px;}

.he-head + .he-card-list{margin-top: 33px;}
.he-card-list{gap: 15px 8px;max-width: 388px;}
.he-card-item{width: calc(33.33% - 6px);max-width: 123px;color:#fff;}
.he-card-box{min-height: 157px;padding: 14px 9px;font-size: 9px;line-height: 1.35;border: 1px solid rgba(255, 255, 255, 0.44);border-radius: 16px;}
.he-card-icon{width: 40px;height: 40px;}
.he-card-icon img{width: 100%;height: 100%;object-fit: contain;}

.home-facility-container .heading{color: var(--white);}
.home-facility-container .heading h2{color: var(--white);}
.home-recruiters-container .recruiters-heading{color: var(--white);}
.home-recruiters-container .recruiters-box img{mix-blend-mode: Luminosity;}

.home-placement-container .content-container{color: var(--white);}
.home-placement-container .placement-slider-text::before{background: linear-gradient(104deg, #1e2a3f 2.96%, #0b172a 100%);}

.placement-overview-container{padding: 24px 0;background: rgba(243, 243, 243, 0.11); color:#fff;}
.placement-overview-container h5{font-size: 18px;font-weight: 800;line-height: 1;margin-bottom: 25px;}
.po-box{max-width: 102px;font-size: 9px;font-weight: 700;line-height: 2;margin: 0 auto;}
.po-box span{display: block;font-size: 29px;font-weight: 800;line-height: 1.1;}

.main-hero {position: relative;width: 100%;height: 100%;min-height: 100vh;padding-top: 90px;}
.hero-video {width: 100%;height: 100%;position: absolute;top: 0;right: 0;bottom: 0;left: 0; background:#0f2342;}
.hero-video video {width: 100%;height: 100%;object-fit: contain;}
.main-hero-text {position: relative;z-index: 111;padding-top: 80px;width:fit-content;}
.main-hero-text h1 {font-size: 72px;font-weight: 900;color: #fff;text-transform: uppercase;line-height: 0.97;margin-bottom: 4px;}
.main-hero-text h1 span {color: #B5AE81;}
.main-hero-text p {font-size: 18px;color: #fff;font-family: monospace;max-width: 500px;line-height: 1.1;}
.main-hero-icon {position: relative;z-index: 11;margin-top: 40px;width: 450px;mix-blend-mode: color-dodge;}
.main-hero-icon img{width:100%; height:100%; object-fit: contain; }
.main-hero-left {position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 350px;}
.main-hero-left img{width:100%;height:100%;object-fit: cover;}
.main-hero .col-lg-11.mx-auto{position: relative;}

.event-lable {position: relative;padding: 60px 0;}
.event-hero-video {width: 100%;height: 100%;position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.event-hero-video video {width: 100%;height: 100%;object-fit: cover;}
.event-lable-list {display: flex;flex-wrap: wrap;width: calc(100% + 40px);margin-left: -20px;margin-bottom: -40px;z-index: 11;position: relative;}
.event-lable-item {width: 33.33%;padding: 0 20px;margin-bottom: 40px;}
.event-lable-item img {width: 100%;height: 100%;object-fit: cover;}

.form-box {display: flex;flex-wrap: wrap;background: #D9D4B8;padding: 40px 85px;margin: 0 20px;position: relative;}
.form-control.type2+.form-control.type2{margin-top:10px;}
.form-control.type2, .form-control:focus {height: 30px;}
.form-control.type2:focus {height: 30px;}
.form-left {width: 35%;}
.form-right {width: 65%;}
.from-heading h5 {font-size: 24px;text-transform: uppercase;margin-bottom: 0;}
.from-heading h3 {font-size: 72px;line-height: 0.9;color: #fff;}
.from-img {position: absolute;width: 70%;max-width: 722px;right: -72px;bottom:-60px}
textarea.form-control.type2{min-height:80px !important;}
textarea.form-control.type2:focus{min-height:80px !important;}


.upcoming-event {display: flex;flex-wrap: wrap;}
.ue-left {width: 40%;padding:54px 30px;}
.ue-right {width: 60%;display: flex;flex-wrap: wrap;}
.ue-text h4 {font-size: 30px;font-weight: 800;line-height: 1.2;margin-bottom: 35px;}
.ue-text h5 {font-size: 30px;font-weight: 400;line-height: 1.2;margin-bottom: 22px;position: relative;}
.ue-text h5:after {content: '';position: absolute;bottom: -2px;width: 100%;height: 1px;background: #fff;left: 0;}
.ue-box {display: flex;flex-wrap: nowrap;align-items: flex-end;}
.uel {font-size: 96px;font-weight: 800;line-height: 0.9;}
.uer {background: #fff;display: flex;flex-wrap: nowrap;align-items: center;padding: 12px 20px;width: 283px;justify-content: space-between;margin-left: 38px;}
.uer h3 {font-size: 30px;text-transform: uppercase;font-weight: 800;margin-bottom: 0;line-height: 1;}
.uer h2 {font-size: 24px;font-weight: 800;margin-bottom: 0;line-height: 1;}
.uerb {max-width: 410px;margin-top: 55px;}
.uerb h4 {font-size: 30px;text-transform: uppercase;line-height: 1;margin-bottom: 19px;}
.uerb-btn {width: fit-content;border: 1px solid #fff;color: #ffff;padding: 7px 21px;font-size: 12px;margin-top: 33px;}
.uerb-btn:hover{background-color:#fff;color:#000;}
.uer-box {width: 50%;height: 100%;position: relative;}
.uer-img { width: 100%; height: 100%;}
.uer-img img {width: 100%;height: 100%;object-fit: cover;}
.uer-text {position: absolute;left: 0;bottom: 0;width: 100%;color: #fff;padding: 0 40px;}
.uer-text h4 {font-size: 94px;font-weight: 900;line-height: 1;margin-bottom: 0;}
.ut-box {display: flex;width: 100%;flex-wrap: nowrap;align-items: flex-start;margin-bottom: 15px;opacity:0;transition: all 0.3s ease-in-out;}
.ut-box p { font-size: 19px; text-transform: uppercase; line-height: 1; height: auto; position: relative; width: 100%;padding-top: 10px;}
.ut-box p:after {content: '';position: absolute;width: 100%;height: 1px;background: #D9D9D9;bottom: 0;left: 0;}
.uer-text h5 {font-size: 18px;margin-bottom: 5px;z-index:11;position: relative;}
.uer-text p {max-width: 251px; line-height: 1.2; opacity:0; transition: all 0.3s ease-in-out;}
.uer-box:after {content: '';position: absolute;width: 0;height: 100%;background: #1D3459;top: 0;left: 0;transition: all 0.3s ease-in-out;}
.uer-box:hover:after{left:0;transition: all 0.3s ease-in-out;width:100%;}
.uer-box:hover .uer-text{z-index: 11; padding-bottom:60px;transition: all 0.3s ease-in-out;}
.uer-box:hover .ut-box{opacity:1;transition: all 0.3s ease-in-out;}
.uer-box:hover .uer-text p{opacity:1;transition: all 0.3s ease-in-out;}


@media (max-width:1199.98px){
    .main-hero-text h1{font-size: 66px;}
    .home-about-img{padding-left: 10%;}
    .home-event-head h2 span{font-size: 82px;}
    .home-event-left{padding-left: 0;}
    .home-event-right{padding-left: 0;}
    .uer-text{padding: 0 30px;}
    .form-box{padding: 40px 60px;}
    .form-left {width: 41%;}
    .form-right {width: 59%;}
}


@media(max-width:991.98px){
    .main-hero-text h1{font-size: 60px;}
    .main-hero-icon{max-width: 450px;width: 45%;}
    .main-hero-left {max-width: 350px;width: 36%;}
    .event-lable-item {width: 50%;}
    .institute-feature-item {width: 33.33%;}
    .institute-feature-item:nth-child(3)::after{display: none;}
    .home-about-content{width: 100%;margin-bottom: 50px;}
    .home-about-img{width: 100%;padding-left: 0;}
    .home-event-head h2{font-size: 32px;}
    .home-event-head h2 span{font-size: 72px;}
    .ue-left {width: 100%;}
    .ue-right {width: 100%;height: 100%;}
    .form-box{padding: 40px 40px 60%;}
    .form-left {width: 100%;}
    .form-right {width: 100%;}
    .from-heading h5 {font-size: 21px;}
    .from-heading h3 {font-size: 64px;}
    .from-img{width: 100%;left: 50%;right: initial;transform: translateX(-50%);}
}


@media (max-width: 767.98px) {
    .main-hero {padding: 90px 0;}
    .main-hero .col-lg-11.mx-auto{display: flex;flex-wrap: wrap;align-self: center;justify-content: center;gap: 30px;}
    .main-hero-text{text-align: center;}
    .main-hero-text h1{font-size: 54px;order: 1;}
    .main-hero-icon{width: 100%;order: 3;}
    .main-hero-left {width: 100%;position: static;transform: none;order: 2;}
    .institute-feature-item {width: 50%;}
    .institute-feature-item:nth-child(2n)::after{display: none;}
    .institute-feature-item:nth-child(3)::after{display: block;}
    .home-about-content h2{font-size: 46px;}
    .home-event-head{font-size: 14px;}
    .home-event-head h2{font-size: 28px;}
    .home-event-head h2 span{font-size: 60px;}
    .home-event-content::after{display: none;}
    .home-event-left,.home-event-right{width: fit-content;margin: 0 auto;}
    .home-event-right{padding-top: 48px;border-top: 1px dashed #CCCCCC;}
    .he-head{text-align: center;margin: 0 auto;font-size: 14px;}
    .he-head h4{font-size: 26px;}
    .po-list{gap: 24px;}
    .ue-left {padding: 50px 0;}
    .po-item{width: calc(50% - 12px);}
}


@media(max-width:575.98px){
    .main-hero-text h1{font-size: 48px;}
    .event-lable-item {width: 100%;}
    .home-about-content h2{font-size: 38px;}
    .home-event-head h2{font-size: 24px;}
    .home-event-head h2 span{font-size: 48px;}
    .he-item{min-width: auto;}
    .uer-box{width: 100%;}
    .uer{flex-flow: column;}
    .form-box{margin: 0;}
    .from-heading h5 {font-size: 18px;}
    .from-heading h3 {font-size: 56px;}
    .from-img{bottom: -40px;}
}
  

@media(max-width:374.98px){
    .he-card-item{width: calc(50% - 8px);max-width: 123px;}
}
   