.gallery-card-row+.gallery-card-row{margin-top: 31px;}
.gallery-category .heading {margin-bottom: 15px !important;}
.gallery-category .heading h4{font-family: var(--font-inter);font-weight: 800;}
.gallery-card-list{width: calc(100% + 4px);margin-left: -2px;}
.gallery-card-item{width: 11.11%;padding: 0 2px;margin-bottom: 20px;}
.gallery-card-box{border-radius: 6px;position: relative;overflow: hidden;min-height: 96px;background: var(--blue);}
.gallery-card-img{position: absolute;top: 0;left: 0;bottom: 0;right: 0;z-index: 1;mix-blend-mode: luminosity;}
.gallery-card-img img{width: 100%;height: 100%;object-fit: cover;object-position: bottom;}
.gallery-card-content{padding: 0 9px 20px;font-family: var(--font-inter);font-size: 7px;font-weight: 900;line-height: 1.3;color: var(--white);background: transparent;position: relative;z-index: 9;transition: all .3s ease-in;}
.gallery-card-content h6{font-size: 16px;font-weight: 900;margin-top: auto;margin-bottom: 6px;}
.gallery-card-img{width: 100%;height: 100%;}
.gallery-card-date{font-size: 9px;padding: 4px 6px;border-radius: 0 0 2px 2px;width: fit-content;background: #BAB699;}
.gallery-card-logo{width: 12px;height: 14px;align-self: center;}
.gallery-card-logo img{width: 100%;height: 100%;object-fit: contain;}

.image-popup-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
  }
  
  .image-popup-content {
    background: #ffffff00;
    max-width: 70%;
    height: 70%;
    overflow: hidden;
    position: relative;
    margin: 30px;
  }
  
  .image-popup-gallery {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .image-popup-item img {
    width: 100%; 
    height: auto; 
    border-radius: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #182C4D;
    color: #fff;
    border: none;
    border-radius: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .close-btn svg { font-size: 30px;}
  

@media (max-width:1199.98px){
    .gallery-card-item{width: 14.28%;}
}


@media (max-width:991.98px){
    .gallery-card-item{width: 20%;}
}


@media (max-width: 767.98px){
    .gallery-card-item{width: 25%;}
}

@media (max-width: 575.98px){
    .gallery-card-item{width: 33.33%;}
}

@media (max-width: 424.98px){
    .gallery-card-item{width: 50%;}
}