.innerherotwo2.international-inner-hero{padding: 50px 0;position: relative;}
.iih-card-box{position: relative;min-height: 378px;border-radius: 24px;border: 1px solid rgba(255, 255, 255, 0.7);background: linear-gradient(129.71deg, rgba(208, 201, 179, 0.31) 0%, rgba(143, 134, 104, 0.31) 100%);backdrop-filter: blur(6px);}
.iih-card-box .iih-card-content{padding: 50px 37px;font-size: 18px;color: var(--white);}
.iih-card-box .iih-card-content h1{font-family:  var(--font-inter);font-size: 50px;font-weight: 700;line-height: 1.1;text-transform: initial;text-align: left;}
.iih-card-box .iih-card-content > p{font-family: var(--font-courier-prime);max-width: 430px;line-height: 1.1;}
.iih-card-box .iih-card-img{width: 280px;margin-top: -35px;flex-shrink: 0;margin-right: 18px;}
.iih-card-box .iih-card-img img{width: 100%;height: 100%;object-fit: contain;object-position: bottom;}
.iih-card-box .iih-card-content .btn{font-size: 18px;border-radius: 0;margin-top: 10px;}
.shadow-box::after{content: '';width: 100%;height: 108px;position: absolute;left: 0;top: -15px;background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.092) 100%);-webkit-backdrop-filter: blur(4px);backdrop-filter: blur(4px);}
.shadow-box{position: relative;}
.iih-bottom-container{position: relative;height: 1100px;padding-top: 100px;}
.iih-bottom-container::after{top: 0;left: 0;width: 100%;height: 100%;content: '';position: absolute;background-image: url(../../assets/images/iih-bottom-graphic.png);background-repeat: no-repeat;background-position: bottom center;background-size: contain;}
.iih-bottom-img{width: 100%;height: 100%;background: var(--white);position: absolute;top: 0;left: 0;}
.iih-bottom-img img{width: 100%;height: 100%;object-fit: contain;object-position: bottom;}
.iih-bottom-content-box h2{font-size: 50px;font-weight: 700;line-height: 1.1;color: #A69E87;margin-bottom: 0;}
.iih-bottom-graphic-1{width: 530px;position: absolute;top: -200px;left: -20%;transform: rotate(20deg);z-index: 99;transition: all .2s ease-in;}
.iih-bottom-graphic-1 img{width: 100%;height: 100%;object-fit: contain;}
.iih-bottom-graphic-2{width: 728px;position: absolute;top: -200px;right: -20%;transform: rotate(-20deg);z-index: 99;transition: all .2s ease-in;}
.iih-bottom-graphic-2 img{width: 100%;height: 100%;object-fit: contain;}

.aos-animate .iih-bottom-graphic-1{left: -20%;transform: none;}
.aos-animate .iih-bottom-graphic-2{right: -25%;transform: none;}

.dn-nav-list.type-3 .dn-nav-item{width: 8.33%;min-width: 90px;}
.dn-nav-list.type-3 .dn-nav-link{padding: 18px 20px;background: rgba(255, 255, 255, 0.23);}
.dn-nav-list.type-3 .dn-nav-item.active .dn-nav-link{background: var(--white);color: var(--blue);}
.dn-nav-list.type-3 .dn-nav-link:hover{background: var(--white);color: var(--blue);}

.institute-card-container{border-radius: 0 0 37px 37px;}
.international-process-container{border-radius: 37px 37px 0 0;margin-top: 18px;}

.international-orientation-program-wrapper{font-size: 18px;padding-bottom: 155px;}
.international-orientation-program-wrapper .heading h4{font-family: var(--font-inter);font-weight: 800;text-transform: uppercase;}
.international-orientation-program-wrapper .heading h4 span{color: var(--white);}

.iop-bg-img{width: 100%;max-width: 522px;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);}
.iop-bg-img img{width: 100%;height: 100%;object-fit: contain;}

.iop-card-list{width: calc(100% + 40px);margin-left: -20px;margin-top: 100px;}
.iop-card-item{width: 33.33%;padding: 0 20px;}
.iop-card-box{min-height: 285px;padding: 24px 14px 18px;background: var(--white);border-radius: 16px;font-size: 12px;line-height: 1.2;color: #AEAA8E;}
.iop-card-icon{width: 38px;height: 30px;margin-bottom: 24px;}
.iop-card-icon img{width: 100%;height: 100%;object-fit: contain;}
.iop-card-box h6{font-size: 13px;line-height: 1.2;margin-bottom: 12px;}
.iop-card-price{font-size: 36px;font-weight: 700;}

.international-hta-wrapper{font-size: 18px;line-height: 1.21;padding: 50px 0;}
.international-hta-wrapper h3{position: relative;font-size: 48px;font-weight: 800;line-height: 1.21;margin-bottom: 30px;text-transform: uppercase;}
.international-hta-wrapper h3::after{content: '';width: calc(100% - 462px);height: 35px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);background: var(--white);}
.international-hta-wrapper h4{font-size: 30px;font-weight: 800;line-height: 1.21;margin-bottom: 16px;}
.international-hta-wrapper h6{font-size: 18px;font-weight: 900;line-height: 1.21;margin-bottom: 2px;}
.international-hta-wrapper p b{font-weight: 600;}
.international-hta-wrapper a{display: block;text-decoration: underline;}
.international-hta-wrapper ul:not([class])>li:before{background: var(--white);}


@media (max-width:1199.98px){
    .iih-card-box .iih-card-content h1,.iih-bottom-content-box h2{font-size: 42px;}
    .iih-bottom-container{height: 900px;}

    .iih-bottom-graphic-1 {width:500px;}
    .iih-bottom-graphic-2 {width:600px;}
}
   
   
@media(max-width:991.98px){
    .iih-card-box .iih-card-content h1,.iih-bottom-content-box h2{font-size: 34px;}
    .iih-bottom-container{height: 700px;}
    .iop-card-list{overflow-x: auto;}
    .iop-card-item{min-width: 300px;}
    .iih-bottom-graphic-1 {width:400px;}
    .iih-bottom-graphic-2 {width:450px;}
}
   
    
@media (max-width: 767.98px) {
    .iih-card-box .iih-card-content h1,.iih-bottom-content-box h2{font-size: 30px;}
    .ic-program-item{width: 33.33%;}
    .iih-bottom-container{height: 80vh;}
    .iih-bottom-graphic-1 {width:300px;}
    .iih-bottom-graphic-2 {width:350px;}
}
   
   
@media(max-width:575.98px){
    .ic-program-item{width: 50%;}
    .iih-bottom-graphic-1 {width:200px;}
    .iih-bottom-graphic-2 {width:250px;}

    .innerherotwo2.international-inner-hero.type3{height:1200px;}

    .iih-bottom-container{height: 65vh;}
}