.about-para {padding-top: 40px;text-align: center;line-height: 1.1;padding-bottom: 70px;}
.about-para h4 {font-size: 48px;font-weight: 700;line-height: 1;margin-bottom: 15px;}
.content-container.about-container{position: relative;}
.content-container.about-container:after{position: absolute;content: '';width:100%;height:100%;background-repeat: no-repeat;background-size: contain;background-image: url(../../assets/images/shadow-flag.svg);background-position:center;top: 0;}
.content-container.about-container:before {content: '';background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.09) 100%);filter: blur(-46.1px);backdrop-filter: blur(15.4px);width: 100%;height: 94px;position: absolute;top: -8px;border-top: 4px solid #92939200;}
.innerherotwo2.admission-inner-hero.bottom-shadow{background-attachment: unset;}
.inco-list {display: flex;flex-wrap: wrap;width: calc(100% + 20px);margin-left: -10px;justify-content: center;}
.inco-item {width: 20%;position: relative;padding:0 10px;}
.inco-img {width: 50px;height: 50px;margin: 0 auto;}
.inco-img img {width: 100%;height: 100%;object-fit: contain;}
.inco-text h4 {font-family: var(--font-roboto);font-size: 12px;text-align: center;margin-top: 18px !important;color: #fff;font-weight: 200;width: 160px;margin: 0 auto;}
.inco-item:after {content: '';position: absolute;width: 2px;height: 70px;background: #fff;top: 50%;right: 0;transform: translateY(-50%);}
.inco-item:last-child:after{display:none;}
.school-text h4 {font-size: 49px;font-weight: 600;line-height: 1;margin-bottom: 8px;}
.school-text h4 {font-size: 49px;font-weight: 600;line-height: 1;margin-bottom: 8px;}
.school-img {padding: 0 32px;width: 100%;height: 100%;}
.school-img img {width: 100%;height: 100%;object-fit: contain;}
.school-text {padding-left: 12px;}
.content-container.school-lable{ padding-top:165px;padding-bottom:0;}
.content-container.school-notics{background: #EAC76D;padding-top: 182px;padding-bottom: 200px;overflow: hidden;}
.school-notics-text h4 {font-size: 36px;line-height: 1.2;margin-bottom: 62px;}
.school-notics-text {padding-left: 18px;}
.school-notics-text span {font-size: 30px;font-weight: 400;}
.school-box {width: 100vw;height: 236px;border-radius: 157.5px 0px 157.5px 157.5px;background: var(--white);padding: 56px 30px 40px 102px;font-size: 24px;position: relative;color: #D0AE57;}
.school-box h5 {font-size: 48px;line-height: 1;margin-bottom: 0;}
.school-icon1 {position: absolute;width: 167px;bottom: -137px;left: 116px;transition: all .1s ease-in;transform-origin: top right;}
.school-icon2 {position: absolute;width: 210px;top: -98px;right: 26%;transition: all .1s ease-in;transform-origin: top right;}
.school-icon1:hover, .school-icon2:hover{transform: rotate(16.75deg);}
.facilities-item {width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.facilities-box {width: 100%; height: 100%; display: flex; flex-wrap: wrap;}
.fb-img { width: 280px;margin-top: -30px;}
.fb-text { width: calc(100% - 280px); padding-top: 31px; padding-left: 84px; padding-right: 111px; display: flex; flex-direction: column; justify-content: space-between; padding-bottom:30px;}
.fb-text h4 {font-size: 36px;font-weight: 700;line-height: 1.2;margin-bottom: 27px;color: #fff;}
.fb-text p {font-size: 18px;line-height: 1.2;font-weight: 400;color: #fff;}
.fb-lable p {font-size: 17px;color: #fff;}
.fb-lable h5 {font-size: 18px;margin-bottom: 2px;color: #fff;}
.facilities-heading h4 {font-size: 54px;text-align: center;font-weight: 800;line-height: 1;margin-bottom: 5px;}
.facilities-heading h4 span{ color: #B5AE81;}
.facilities-heading {text-align: center;margin: 0 auto;line-height: 1.2;margin-bottom: 96px;}
.facilities-item+.facilities-item {margin-top: 122px;}



@media (max-width:1199.98px){

    
    .about-para h4 {font-size: 40px;}
    .inco-item{width:25%; margin-bottom:30px;}
    .inco-list{margin-bottom:-30px;}
    .school-text h4 {font-size: 40px;}
    .inco-item:nth-child(4):after {display: block;}


    .school-icon2 {width: 160px;right: 20%;}
    .school-box h5 {font-size: 40px;}
    .school-box{font-size:22px;}
    .school-notics-text h4 {font-size: 32px;}
    .content-container.school-notics{padding-top:140px;}

    .fb-text{ padding-left: 50px;padding-right: 50px;}
    .fb-text h4 {font-size: 32px;}
    .fb-text p {font-size: 16px;}
    
    .facilities-heading h4 {font-size: 44px; }  

}


@media (max-width:991.98px){

    .about-para h4 {font-size: 34px;}
    .about-para{font-size:14px; padding-bottom: 40px;}
    .content-container.about-container:before{height:40px;}
    .inco-item{width:33.33%;}
    .inco-item:nth-child(3):after {display: none;}
    .school-text h4 {font-size: 34px;}
    .content-container.school-lable {padding-top: 60px;}
    .school-img{padding-top:30px;}

    .school-notics-text h4 {font-size: 28px;margin-bottom: 40px;}
    .school-box h5{margin-bottom:0;font-size: 36px;}
    .school-box{height:100%; padding: 35px 30px 40px 70px;}

    .fb-text {padding: 30px;    width: calc(100% - 240px);}
    .fb-text h4 {font-size: 26px;}
    .fb-img {width: 240px;}
    .facilities-item+.facilities-item {margin-top: 80px;}
 
    .facilities-heading h4 {font-size: 36px; }   

}

@media (max-width: 767.98px){

    .about-para h4 {font-size: 28px;}
    .inco-item{width:50%;}
    .inco-item:nth-child(3):after {display: block;}
    .inco-item:nth-child(2n):after {display:none;}
    .school-text h4 {font-size: 28px;} 

    .content-container.school-notics{padding-top: 100px;padding-bottom: 140px;}
    .school-icon2 {width: 130px;right: 10%;}
    .school-icon1 {width: 130px;bottom: -100px;left: 116px;}
    .school-notics-text h4 {font-size: 24px;margin-bottom: 100px;}
    .school-box h5{font-size:24px;}
    .school-box {height: 100%;padding: 25px 20px 39px 40px;font-size: 18px;}
    .school-notics-text{padding-left:0;}
    .school-notics-text span {font-size: 28px;}
    .school-notics-text h4 {font-size: 16px;}

    .fb-text h4 {font-size: 20px; margin-bottom: 15px;}
    .facilities-item+.facilities-item {margin-top: 60px;}
    .fb-img {width: 191px;}
    .fb-img {width: 200px;}
    .fb-text{width: calc(100% - 200px); padding:20px;}
    .fb-lable h5 {font-size: 16px;}
    .fb-text p {font-size: 14px;}

    .facilities-heading h4 {font-size: 28px; }  
    .facilities-heading p br{display:none;}


}

@media (max-width: 575.98px){

    .about-para h4 {font-size: 22px;}
    .inco-item{width:100%;padding-bottom:20px;}
    .inco-item:after{border-left: 0;width: 50%;height: 2px;bottom: 0;top: auto;transform: translateX(-50%);left: 50%;}
    .inco-item:nth-child(2n):after {display:block;}
    .school-text h4 {font-size: 22px;}
    .school-icon2 {width: 100px;right: 10%;top: -85px;}
    .school-box {padding: 40px 20px 39px 40px;font-size: 16px;}
    .school-icon1 {width: 85px;bottom: -50px;left: 80px;}

    .fb-text h4 {font-size: 16px;}
    .fb-img {width: 100%; height:300px;}
    .fb-img img {width:100%; height:100%; object-fit: contain; object-position:left;}
    .fb-text{width:100%;; }
    .fb-text p {font-size: 12px;}
    .fb-lable{margin-top:30px;}

    .facilities-heading h4 {font-size: 24px; } 
    .facilities-heading p {font-size:14px; }
    


}